{% load i18n apphooks_config_tags %}


<h4>Categories</h4>
<div class="hline"></div>
{% for category in categories %}
    <p {% if newsblog_category.id == category.id %} class="active"{% endif %}>
      <a href="{% namespace_url "article-list-by-category" category.slug namespace=instance.app_config.namespace default='' %}">
        <i class="fa fa-angle-right"></i>
        {{ category.name }}
      </a>
      <span class="badge badge-theme pull-right">{{ category.article_count }}</span>
    </p>
{% endfor %}
<div class="spacing"></div>