{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}


<h4>Recent Posts</h4>
<div class="hline"></div>
  <ul class="popular-posts">

{% for article in article_list %}
    <li>
      {% if article.featured_image_id %}
        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
          <img class="img-responsive" src="{% thumbnail article.featured_image 140x140 crop subject_location=article.featured_image.subject_location %}"
          alt="{{ article.featured_image.alt }}">
        </a>
      {% endif %}
        <h4><a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{{ article.title }}</a></h4>
        <em>Posted: {{ article.publishing_date|date }}</em>
    </li>
{% empty %}
    <p>{% trans "No items available" %}</p>
{% endfor %}
  </ul>
<div class="spacing"></div>