*{
  background-color:#a4a4a4 !important;
  background-image:#a4a4a4 !important;
  color:white !important;
  line-height:1.5em !important;
  text-shadow: none !important;
}

a, a *{
  background-color:#a4a4a4 !important;
  color:white !important;
  text-decoration:underline !important;
}
  a:hover, a:hover *{
    background-color:white !important;
    color:#a4a4a4 !important;
    text-decoration:underline !important;
    text-decoration:none !important;
  }

input{
  background-color:white !important;
  color:#a4a4a4 !important;
}

input[type=submit],
input[type=button],
button{
  background-color: white !important;
  color: #a4a4a4 !important;
}
  input[type=submit]:hover,
  input[type=button]:hover,
  button:hover{
    text-decoration:underline !important;
  }
