/**
 * Place your custom styles here.
 */

@font-face {
    font-family: "MyriadPro";
    src: url(fonts/MyriadPro/MyriadPro-It.ttf);
}

@font-face {
    font-family: "MyriadPro-Regular";
    src: url(fonts/MyriadPro/MyriadPro-Regular.ttf);
}

@font-face {
    font-family: "MyriadPro-Bold";
    src: url(fonts/MyriadPro/MyriadPro-BoldIt.ttf);
}

header#navbar{
  background: none !important;
  border: 0 !important;
}

h2.block-title.block-title {
  color: blue;
}

#block-superfish-1{
  margin-top: 40px;
}

#superfish-1 li{
  margin-right: 32px;
}

#superfish-1 li a{
  color: #0083b6 !important;
  font-family: "MyriadPro-Regular";
  font-size: 17px;
}

.sf-hidden li a{
  color: #0083b6 !important;
  font-family: "MyriadPro-Regular";
  font-size: 17px;
}

#views-bootstrap-carousel-1 .carousel-inner a img{
  width: 100% !important;
  text-align: center;
}

#views-bootstrap-carousel-1 .views-field.views-field-title{
  position: absolute;
  z-index: 1000;
  margin-top: -10%;
  width: 45%;
  text-align: center;
  margin-left: 6.5%;
  color: white;
  background: none;
}

#views-bootstrap-carousel-1 span.field-content a{
  color: #fff;
  background: #0083b6;
  line-height: 2.9;
  padding: 6px;
  font-family: MyriadPro;
  font-size: 17px;
}

#block-views-eiti-block-1 .block-title{
  color: #6c6d70;
  font-size: 26.6px !important;
  font-family: "MyriadPro-Regular";
}

#views-bootstrap-grid-1 .views-field-title a{
  color: #0083b6;
  font-size: 15px;
  font-family: "MyriadPro-Regular";
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
#views-bootstrap-grid-1 .views-field-view-node{
  margin-top: 2%;
}

#views-bootstrap-grid-1 .views-field-view-node .field-content{
  padding: 7px;
  border: solid 1px #e1e1e1;
  font-family: "MyriadPro-Regular";
}

#views-bootstrap-grid-1 .views-field-view-node .field-content a{
  color: #939393 !important;
  font-family: "MyriadPro-Regular";
}
#views-bootstrap-grid-1 .views-field-view-node .field-content span{
  color: #68bde7 !important;
}

#block-views-eiti-block-2{
  background: #f0f0f0 !important;
}
#block-views-nodequeue-1-block .views-field-body p{
  margin-top: 14px;
}

#block-views-nodequeue-1-block{
  background: #e2e1e1;
}

#block-views-eiti-block-2 .block-title,
#block-views-nodequeue-1-block .block-title{
  color: #2c2c2c;
  text-transform: uppercase;
  font-family: "MyriadPro-Regular";
  font-size: 32px;
}

#block-views-eiti-block-2 .views-field-nothing .media .media-left{
  padding: 3px;
  padding-bottom: 0;
  border: 1px solid #dddddd;
}

#block-views-eiti-block-2 .views-field-nothing .media-body{
  padding-left: 20px;
}

#block-views-eiti-block-2 .view-content .views-row{
  padding-bottom: 7px;
  border-bottom: 1px solid #dedede;
  padding-top: 7px;
}

#block-views-eiti-block-2 .media-heading a{
  font-family: "MyriadPro-Regular";
  font-size: 16px;
  color: #2c2c2c;
}

#block-views-eiti-block-2 p{
  font-family: "MyriadPro-Regular";
}

#block-views-eiti-block-2 .view-footer a{
  font-family: "MyriadPro-Regular";
  background: #d64b2d;
  color: #fff;
  padding: 5px;
  float: right;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 16px;
}

#block-views-nodequeue-1-block .view-footer a{
  color: #fff;
  background: #d64b2d;
  padding: 14px;
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
}

#block-views-nodequeue-1-block .view-content li{
  list-style: none;
}


.row.jumbotron{
  margin-top: 30px;
  background: #fcfcfc;
  padding-bottom: 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

#block-block-3 .col-md-3 h3{
  width: 80%;
  float: left;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-top: -5px;
  margin-bottom: 10px;
  font-family: "MyriadPro-Regular";
}

#block-block-3 .col-md-3 span{
  float: left;
  display: inline-block;
}

#block-block-3 .col-md-3 .content{
  font-family: "MyriadPro-Regular";
}

#block-views-eiti-block-3 h2.block-title.block-title {
  color: #6c6d70;
  font-size: 26.6px !important;
  font-family: "MyriadPro-Regular";
}

.highlighted.jumbotron{
  background: none;
}
.highlighted.jumbotron #block-views-eiti-block-4{
  margin-top: 30px;
  border: 1px solid #e1e1e1;
  padding: 19px;
  background: #fff;
  color: #888888;
  font-family: "MyriadPro-Regular";
  font-size: 19.5px;
}

.highlighted.jumbotron #block-views-eiti-block-4 .views-field-nothing a{
  float: right;
  border: 1px solid #fff;
  background: #ccca4d;
  padding: 10px;
  border-radius: 5px;
  color: #585858;
}


#block-search-form{
  margin: 0 !important;
  padding: 0 !important;
  width: 5% !important;
  margin-top: -2% !important;
}

#search-block-form input[type=text] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  border: transparent;
}
#search-block-form input[type=text]:hover {
  background-color: #fff;
  border:none;
}
#search-block-form input[type=text]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

#search-block-form button{
  color: #3e3e3e;
  background: transparent;
  border: transparent;
}

#search-block-form input:-moz-placeholder {
  color: transparent;
}
#search-block-form input::-webkit-input-placeholder {
  color: transparent;
}

.not-front.node-type-article .row.jumbotron{
  display: none;
}

.not-front .field-name-noticias a{
  font-family: "MyriadPro-Regular";
  font-size: 28px;
}

.not-front.node-type-article .field-name-field-tags .field-item{
  margin: 7px;
}

.not-front.node-type-article .field-name-field-tags .field-item a{
  color:#919191;
  font-size: 13px;
  text-transform: capitalize;
}

.not-front.node-type-page .row.jumbotron{
  padding: 0;
  margin: 0;
}

.not-front.node-type-page .row.jumbotron .highlighted.jumbotron{
  padding-bottom: 2px;
  padding-top: 2px;
}

.field-name-field-recursos{
  font-family: "MyriadPro-Regular";
}

.field-name-field-recursos .field-label{
  font-size: 25px;
}

.art-layout-cell{
  font-family: "MyriadPro-Regular";
}

.art-layout-cell h2{
  width: 30%;
  float: left;
  font-family: "MyriadPro-Regular";
}

.art-layout-cell hr{
  width: 70%;
  float: left;
  font-family: "MyriadPro-Regular";
  margin-top: 5%;
}

.art-layout-cell .nav.nav-tabs{
  width: 100%;
  float: left;
  font-family: "MyriadPro-Regular";
  border:none;
}
.art-layout-cell .nav.nav-tabs li{
  border:1px solid #e1e1e1;
}
.art-layout-cell .nav.nav-tabs li.active{
  background: #fcfcfc;
  border-radius: 0;
  border-bottom: none;
}

.art-layout-cell .nav.nav-tabs li a{
  color: #666666;
  background: #fcfcfc;
  border:none;
}

.art-layout-cell .tab-content .tab-pane.active .art-content-layout .art-content-layout-row:nth-child(2){
  background: #fcfcfc;
  border:1px solid #e1e1e1;
}

.page-noticias .views-field-title{
  font-family: "MyriadPro-Regular";
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.page-noticias .views-field-title a{
  color: #0083b6;
}

.page-noticias .views-field-body{
  height: 162px;
}

.front #block-views-eiti-block-1 .views-field-body{
  height: 121px;;
}

#block-superfish-1 ul li ul li{
  padding-bottom: 5px;
}
