/**
 * Place your custom styles here.
 */

@font-face {
    font-family: "MyriadPro";
    src: url(fonts/MyriadPro/MyriadPro-It.ttf);
}

@font-face {
    font-family: "MyriadPro-Regular";
    src: url(fonts/MyriadPro/MyriadPro-Regular.ttf);
}

@font-face {
    font-family: "MyriadPro-Bold";
    src: url(fonts/MyriadPro/MyriadPro-BoldIt.ttf);
}

header#navbar{
  background: none !important;
  border: 0 !important;
}

h2.block-title.block-title {
  color: blue;
}

#block-superfish-1{
  margin-top: 40px;
  float: right;
}

.navbar #block-search-form{
  height: 20px;
  margin-right: 20px;
}

section#block-text-resize-0{
  float: right;
}

#superfish-1 li{
  margin-right: 12px;
  float: right;
}

#superfish-1 li a{
  color: #0083b6 !important;
  font-family: "MyriadPro-Regular";
  font-size: 19px;
}

.sf-hidden li a{
  color: #0083b6 !important;
  font-family: "MyriadPro-Regular";
  font-size: 17px;
}

#views-bootstrap-carousel-1 .carousel-inner a img{
  width: 100% !important;
  text-align: center;
}

#views-bootstrap-carousel-1 .views-field.views-field-title{
  position: absolute;
  z-index: 1000;
  margin-top: -10%;
  width: 45%;
  text-align: center;
  margin-left: 6.5%;
  color: white;
  background: none;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

#views-bootstrap-carousel-1 span.field-content a{
  color: #fff;
  background: #0083b6;
  line-height: 2.9;
  padding: 6px;
  font-family: "MyriadPro-Regular";
  font-size: 17px;
}

#block-views-eiti-block-1 .block-title{
  color: #6c6d70;
  font-size: 26.6px !important;
  font-family: "MyriadPro-Regular";
}

#block-block-5{
  margin-left: 40%;
}

.list-unstyled .title-widget,#block-views-eiti-block-5 .block-title,
#block-block-6 .block-title,#block-block-5 .block-title{
  font-size: 20px;
  font-family: "MyriadPro-Regular";
  color: #6c6d70;
}

#block-block-5 p{
  color: #fff;
}

#views-bootstrap-grid-1 .views-field-title a{
  color: #0083b6;
  font-size: 15px;
  font-family: "MyriadPro-Regular";
  text-align: justify;
}

.view-id-documentos  #views-bootstrap-grid-1 .views-field-title a{
  font-family: verdana;
  font-size: 12px !important;
  font-weight: bold;
}

#views-bootstrap-grid-1 .views-field-view-node{
  margin-top: 2%;
  float: right;
}

#views-bootstrap-grid-1 .views-field-view-node .field-content{
  padding: 7px;
  border: solid 1px #e1e1e1;
  font-family: "MyriadPro-Regular";
}

#views-bootstrap-grid-1 .views-field-view-node .field-content a{
  color: #939393 !important;
  font-family: "MyriadPro-Regular";
}
#views-bootstrap-grid-1 .views-field-view-node .field-content span{
  color: #68bde7 !important;
}

#block-views-eiti-block-2{
  background: #f0f0f0 !important;
}
#block-views-nodequeue-1-block .views-field-body p{
  margin-top: 14px;
}

#block-views-nodequeue-1-block{
  background: #e2e1e1;
}

#block-views-eiti-block-2 .block-title,
#block-views-nodequeue-1-block .block-title{
  color: #2c2c2c;
  text-transform: uppercase;
  font-family: "MyriadPro-Regular";
  font-size: 30px;
}

#block-views-eiti-block-2 .views-field-nothing .media .media-left{
  padding: 3px;
  padding-bottom: 0;
  border: 1px solid #dddddd;
}

#block-views-eiti-block-2 .views-field-nothing .media-body{
  padding-left: 20px;
}

#block-views-eiti-block-2 .view-content .views-row{
  padding-bottom: 7px;
  border-bottom: 1px solid #dedede;
  padding-top: 7px;
}

#block-views-eiti-block-2 .media-heading a{
  font-family: "MyriadPro-Regular";
  font-size: 16px;
  color: #2c2c2c;
}

#block-views-eiti-block-5 .media-heading a{
  font-family: "MyriadPro-Regular";
  font-size: 16px;
  color: #fff;
}

#block-views-eiti-block-2 p{
  font-family: "MyriadPro-Regular";
}

#block-views-eiti-block-2 .view-footer a{
  font-family: "MyriadPro-Regular";
  background: #d64b2d;
  color: #fff;
  padding: 5px;
  float: right;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 16px;
}

#block-views-nodequeue-1-block .view-footer a{
  color: #fff;
  background: #d64b2d;
  padding: 14px;
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
}

#block-views-nodequeue-1-block .view-content li{
  list-style: none;
}


.row.jumbotron{
  margin-top: 30px;
  background: #fcfcfc;
  padding-bottom: 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

#block-block-3 .col-md-3 h3{
  width: 100%;
  float: left;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-top: -5px;
  margin-bottom: 10px;
  font-family: "MyriadPro-Regular";
}

#block-block-3 .col-md-3 span{
  float: left;
  display: inline-block;
}

#block-block-3 .col-md-3 .content{
  font-family: "MyriadPro-Regular";
}

#block-views-eiti-block-3 h2.block-title.block-title {
  color: #6c6d70;
  font-size: 26.6px !important;
  font-family: "MyriadPro-Regular";
}

.highlighted.jumbotron{
  background: none;
}
.highlighted.jumbotron #block-views-eiti-block-4{
  margin-top: 30px;
  border: 1px solid #e1e1e1;
  padding: 19px;
  background: #fff;
  color: #888888;
  font-family: "MyriadPro-Regular";
  font-size: 19.5px;
}

.highlighted.jumbotron #block-views-eiti-block-4 .views-field-nothing a{
  float: right;
  border: 1px solid #fff;
  background: #ccca4d;
  padding: 10px;
  border-radius: 5px;
  color: #585858;
}

#search-block-form input[type=text] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  border: transparent;
}
#search-block-form input[type=text]:hover {
  background-color: #fff;
  border:none;
}
#search-block-form input[type=text]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

#search-block-form button{
  color: #3e3e3e;
  background: transparent;
  border: transparent;
}

#search-block-form input:-moz-placeholder {
  color: transparent;
}
#search-block-form input::-webkit-input-placeholder {
  color: transparent;
}

.not-front.node-type-article .row.jumbotron{
  display: none;
}

.not-front .field-name-noticias a{
  font-family: "MyriadPro-Regular";
  font-size: 28px;
}

.not-front.node-type-article .field-name-field-tags .field-item{
  margin: 7px;
}

.not-front.node-type-article .field-name-field-tags .field-item a{
  color:#919191;
  font-size: 13px;
  text-transform: capitalize;
}

.not-front.node-type-page .row.jumbotron{
  padding: 0;
  margin: 0;
}

.not-front.node-type-page .row.jumbotron .highlighted.jumbotron{
  padding-bottom: 2px;
  padding-top: 2px;
}

.field-name-field-recursos{
  font-family: "MyriadPro-Regular";
}

.field-name-field-recursos .field-label{
  font-size: 25px;
}

.art-layout-cell{
  font-family: "MyriadPro-Regular";
}

.art-layout-cell h2{
  width: 30%;
  float: left;
  font-family: "MyriadPro-Regular";
}

.art-layout-cell hr{
  width: 70%;
  float: left;
  font-family: "MyriadPro-Regular";
  margin-top: 5%;
}

.art-layout-cell .nav.nav-tabs{
  width: 100%;
  float: left;
  font-family: "MyriadPro-Regular";
  border:none;
}
.art-layout-cell .nav.nav-tabs li{
  border:1px solid #e1e1e1;
}
.art-layout-cell .nav.nav-tabs li.active{
  background: #fcfcfc;
  border-radius: 0;
  border-bottom: none;
}

.art-layout-cell .nav.nav-tabs li a{
  color: #666666;
  background: #fcfcfc;
  border:none;
}

.art-layout-cell .tab-content .tab-pane.active .art-content-layout .art-content-layout-row:nth-child(2){
  background: #fcfcfc;
  border:1px solid #e1e1e1;
}

.page-noticias .views-field-title{
  font-family: "MyriadPro-Regular";
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.page-noticias .views-field-title a{
  color: #0083b6;
}

.page-noticias .views-field-body{
  height: 162px;
}

.front #block-views-eiti-block-1 .views-field-body{
  height: 160px;;
}

#block-superfish-1 ul li ul li{
  padding-bottom: 5px;
}

.view-display-id-block_1 .views-field.views-field-title {
  /*text-overflow: ellipsis !important;
  //white-space: nowrap !important;
  //overflow: hidden !important;*/
}

.view.view-eiti.view-id-eiti.view-display-id-block_3{
  margin-top: 16.4%;
}

#block-views-eiti-block-3 .views-field-field-archivo .field-content,
#block-views-eiti-block-3 .views-field-field-archivo .field-content a{
  margin-top: 3% !important;
  color:#3fa2c8 !important;
}

.menu_inferior {
  position: relative;
  height: 145px;
  margin: 20px 0 10px 195px;
  background-image: url(images/bg_menu_inferior.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 0.8em;
}
#enlaces_gobierno h2 {
  text-indent: -99999px;
}
.menu_inferior h2.logo_gobierno {
  font-size: 0;
  line-height: 0;
  text-indent: -9999%;
  height: 53px;
  width: 195px;
  position: absolute;
  top: 45px;
  left: 10px;
  background-image: url(http://css.mintic.gov.co/mt/mintic/images/logo_menu_inferior.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.menu_inferior ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
}

.menu_inferior ul li{
  padding-bottom: 2px;
  font-family: "MyriadPro-Regular";
  font-size: 13px;
}
.menu_inferior ul.columna1 {
  top: 15px;
  left: 240px;
}

.menu_inferior ul.columna2 {
  top: 15px;
  left: 360px;
}
.menu_inferior ul.columna3 {
  top: 15px;
  left: 480px;
}
.menu_inferior ul.columna4 {
  top: 15px;
  left: 600px;
}


.front .row.jumbotron{
	display:none !important;
}

footer.footer{
  background: #202020;
}

.widget-container p, #views-bootstrap-media-1 a, #block-block-6 .list-unstyled li, #block-block-7 .list-unstyled li{
  color:#fff;
}
#views-bootstrap-media-1 a{
  font-family: "MyriadPro-Regular";
  font-size: 14px;
}

#views-bootstrap-media-1 .media-body{
  color:#6c6d70;
}

#block-block-7 .widget_recent_news p{
  font-size: 15px;
  font-family: "MyriadPro-Regular";
  text-align: center;
}

#block-block-6 .social-icons li{
  list-style: none;
  margin-bottom: 2px;
}

#block-block-6 .social-icons li a{
  color: #fff;
  font-family: "MyriadPro-Regular";
  font-size: 14px;
}

#block-block-7 .widget-container p a{
  color: #fff;
}

#block-social-media-links-social-media-links{
  float: right;
  height: 10px;
}

.region-content{
  margin-top: 20px;
}

#block-block-5 .social-icons li{
  float: left;
  list-style: none;
}

.list-unstyled p{
  color: #fff;
}

.post-footer{
  background: #333333;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "MyriadPro-Regular";
}

.view-documentos .view-content .media-heading a{
  color: #000 !important;
}

#block-block-5 .social-icons ul, #block-block-6 .social-icons ul{
  padding: 0px;
}

.navbar-toggle{
  background-color: buttonface !important;
}

.navbar-toggle .icon-bar{
  background: #000 !important;
}

ul.social-media-links.platforms.inline.horizontal{
  float:right;
}

.jumbotron{
  display: none;
}

.view-id-documentos.col-md-8{
  margin-top: 20px;
}

#quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle{
  padding: 0;
}

#quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle li{
  font-family: "MyriadPro-Regular";
  border: 1px solid #f5f5f5;
}
#quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle li.active a.active{
  background-color: #0083b6 !important;
}

#quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle li a{
  color: #202020;
}

#block-block-9{
  text-align: center;
}
#block-block-9 p{
  font-family: verdana;
  font-size: 10px;
}

#block-menu-menu-links-de-interes ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 25px;
}

#block-menu-menu-links-de-interes ul.menu.nav li {
    float: left !important;
    margin-left: 10%;
}

#block-menu-menu-links-de-interes ul.menu.nav li:hover{
  background: transparent;
}

#block-menu-menu-links-de-interes ul li a {
    display: block;
    color: transparent;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#block-high-contrast-high-contrast-switcher{
  margin-top: 5px;
  float: right;
  /*width: 2.333333% !important;*/
}

.high_contrast_switcher{
  height: 30px;
}

.high_contrast_switcher_normal , .high_contrast_switcher_label, .high_contrast_switcher_separator{
  display: none;
}

.high_contrast_switcher_high, .high_contrast_switcher_normal{
  background-image: url('/sites/default/files/iconContraste.png');
  background-repeat: no-repeat;
  padding: 3px !important;
}

.high_contrast_switcher_high a, .high_contrast_switcher_normal a{
  color: transparent;
}

.page-taxonomy-term-7 .field-name-title h3{
  margin-top:0 !important;
}

/*#block-text-resize-0{
  width: 10.666667% !important;
}*/
#block-print-ui-print-links{
  float: right;
  height: 26px;
  width: 4.333333% !important;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

#text_resize_increase{
  background-image: url('/sites/all/themes/eiti_theme/css/images/iconos/A-33.jpg') !important;
  height: 32px !important;
  margin: 0px 0 0 0 !important;
  width: 27px !important;
}
#text_resize_reset{
  background-image: url('/sites/all/themes/eiti_theme/css/images/iconos/A-34.jpg') !important;
  height: 32px !important;
  margin: 0px 0 0 0 !important;
  width: 27px !important;
}
#text_resize_decrease{
  background-image: url('/sites/all/themes/eiti_theme/css/images/iconos/A-35.jpg') !important;
  height: 32px !important;
  margin: 0px 0 0 0 !important;
  width: 27px !important;
}

.print-icon.img-responsive{
  margin-top: -10px;
}

#block-menu-menu-links-de-interes li.first.leaf{
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/eiti.jpg);
  color: transparent;
}

#block-menu-menu-links-de-interes li:nth-child(2){
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/ANH.jpg);
  color: transparent;
}
#block-menu-menu-links-de-interes li:nth-child(3){
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/mineria.jpg);
  color: transparent;
}
#block-menu-menu-links-de-interes li:nth-child(4){
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/DNP.jpg);
  color: transparent;
}
#block-menu-menu-links-de-interes li:nth-child(5){
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/upme.jpg);
  color: transparent;
}

#block-menu-menu-links-de-interes li:nth-child(6){
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/dian.jpg);
  color: transparent;
}
#block-menu-menu-links-de-interes h2.block-title.block-title{
  font-size: 12px;
  font-family: Verdana;
  color: #337ab7;
}
.footer{
  padding-bottom:10px !important;
}

#views-bootstrap-grid-1 .col-lg-6:nth-child(1) .views-field.views-field-view-node{
  display: none;
}

.view-display-id-page_3 #views-bootstrap-media-1 a{
  color: #000;
}

.view-documentos .view-header p:nth-child(1),.view-documentos .view-header p:nth-child(1) img{
  float: left;
  margin-bottom: 0;
}
.view-documentos .view-header h3{
  margin-top: 10px;
  font-size: 12px !important;
  font-family: Verdana;
  font-weight: bold;
  color: #0083b6;
}

#quicktabs-tabpage-view__documentos__page-0{
  display: none;
}

.view-id-documentos.view-display-id-page_1 #views-bootstrap-media-1 a{
  color: #000;
}

#block-encefalo-eiti-accesibilidad{
  float: right;
}

.right{
  float: right;
  padding: 0;
}

#block-encefalo-eiti-accesibilidad .text-resize{
  width: 25%;
}

#block-encefalo-eiti-accesibilidad .print button{
  background: none;
  border: 0;
  margin-top: 7px;
}
#block-encefalo-eiti-accesibilidad .contrast{
  width: 7%;
  padding-top: 5px;
}

#block-menu-menu-links-de-interes ul li a:hover{
  background: none;
}
.view-nodequeue-1 ul{
    padding-bottom: 11px;
}

/*Media querys*/

@media (max-width: 990px) {
  .menu_inferior{
    margin: 20px 0 10px 70px;
  }
}

@media (max-width: 600px) {
  .menu_inferior{
    margin: 20px 0 10px 0px;
  }
}
