@charset "UTF-8";
@font-face {
  font-family: "MyriadPro";
  src: url(fonts/MyriadPro/MyriadPro-It.ttf); }

@font-face {
  font-family: "MyriadPro-Regular";
  src: url(fonts/MyriadPro/MyriadPro-Regular.ttf); }

@font-face {
  font-family: "MyriadPro-Bold";
  src: url(fonts/MyriadPro/MyriadPro-BoldIt.ttf); }

/**
 * Place your custom styles here.
 */
body {
  font-family: "Helvetica", Geneva, Tahoma, sans-serif;
  color: #333; }

h1, h2, h3 {
  font-family: Verdana;
  font-weight: bold;
  text-transform: uppercase;
  color: #3498db; }

h1.page-header, .col-sm-10 h3 {
  color: #7f8c8d; }

h2 {
  font-size: 18px; }

.navbar-btn {
  margin: 0; }

/**
 * Blocks
 */
#block-superfish-1 {
  margin-top: 40px;
  float: right; }

section#block-text-resize-0 {
  float: right; }

#superfish-1 li {
  margin-right: 12px;
  float: right; }
  #superfish-1 li.active-trail, #superfish-1 li:hover {
    background-color: #3498db; }
    #superfish-1 li.active-trail a, #superfish-1 li:hover a {
      color: #fff; }
  #superfish-1 li a.menuparent {
    position: relative; }
    #superfish-1 li a.menuparent:after {
      content: "›";
      font-size: 20px;
      position: absolute;
      transform: rotate(90deg);
      left: 0;
      right: 0;
      top: 100px; }
  #superfish-1 li a {
    font-size: 16px;
    padding: 15px 12px;
    text-decoration: none; }
    #superfish-1 li a .sf-sub-indicator {
      background: none; }
  #superfish-1 li ul {
    left: 12px;
    top: 47px; }
    #superfish-1 li ul li {
      background-color: #3498db; }
      #superfish-1 li ul li:hover {
        opacity: 0.9; }

.sf-hidden li a {
  color: #3498db !important;
  font-size: 15px; }

#block-block-5 {
  margin-left: 40%; }

#block-block-5 .block-title {
  font-size: 20px;
  color: #6c6d70; }

#block-block-5 p {
  color: #fff; }

#block-views-eiti-block-2 {
  background: #f0f0f0 !important; }

#block-views-nodequeue-1-block .views-field-body p {
  margin-top: 14px; }

#block-views-eiti-block-2 .views-field-nothing .media .media-left {
  padding: 3px;
  padding-bottom: 0;
  border: 1px solid #dddddd; }

#block-views-eiti-block-2 .views-field-nothing .media-body {
  padding-left: 20px; }

#block-views-eiti-block-2 .view-content .views-row {
  padding-bottom: 7px;
  border-bottom: 1px solid #dedede;
  padding-top: 7px; }

#block-views-eiti-block-2 .media-heading a {
  font-size: 15px;
  color: #7f8c8d; }

#block-views-eiti-block-5 .media-heading a {
  font-size: 12px;
  color: #fff; }

#block-views-eiti-block-2 .view-footer a {
  background: #3498db;
  color: #fff;
  padding: 5px;
  float: right;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 12px; }

#block-views-nodequeue-1-block .view-footer a {
  color: #fff;
  background: #d64b2d;
  padding: 14px;
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 3px; }

#block-views-nodequeue-1-block .view-content li {
  list-style: none; }

#block-block-3 .col-md-3 h3 {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-top: -5px;
  margin-bottom: 10px; }

#block-block-3 .col-md-3 span {
  float: left;
  display: inline-block; }

#block-views-eiti-block-3 h2.block-title.block-title {
  color: #7f8c8d;
  font-size: 25px !important; }

#search-block-form input[type=text] {
  /*width: 15px;*/
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  border: transparent; }
  #search-block-form input[type=text]:hover {
    background-color: #fff;
    border: none; }
  #search-block-form input[type=text]:focus {
    /*width: 130px;*/
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto; }

#search-block-form button {
  color: #3e3e3e;
  background: transparent;
  border: transparent; }

#search-block-form input:-moz-placeholder, #search-block-form input::-webkit-input-placeholder {
  color: transparent; }

#block-views-eiti-block-3 .views-field-field-archivo .field-content {
  margin-top: 1% !important;
  font-size: 15px;
  color: #3fa2c8 !important; }
  #block-views-eiti-block-3 .views-field-field-archivo .field-content a {
    margin-top: 1% !important;
    font-size: 15px;
    color: #3fa2c8 !important; }

#block-block-7 .widget_recent_news p {
  font-size: 15px;
  text-align: center; }

#block-block-6 .social-icons li {
  list-style: none;
  margin-bottom: 2px; }
  #block-block-6 .social-icons li a {
    color: #fff;
    font-size: 14px; }

#block-block-7 .widget-container p a {
  color: #fff; }

#block-social-media-links-social-media-links {
  float: right;
  height: 10px; }

#block-block-5 .social-icons li {
  float: left;
  list-style: none; }

#block-block-5 .social-icons ul, #block-block-6 .social-icons ul {
  padding: 0px; }

#block-block-9 {
  text-align: center; }
  #block-block-9 p {
    font-size: 9px;
    color: #7f8c8d; }

#block-menu-menu-links-de-interes ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 25px; }
  #block-menu-menu-links-de-interes ul.menu.nav li {
    float: left !important;
    margin-left: 7%; }
  #block-menu-menu-links-de-interes ul li a {
    display: block;
    color: transparent;
    text-align: center;
    /*padding: 14px 16px;*/
    width: 100px;
    height: 43px;
    text-decoration: none; }

#block-encefalo-eiti-accesibilidad {
  position: fixed;
  left: 20px; }
  #block-encefalo-eiti-accesibilidad .text-resize {
    width: 25%; }
  #block-encefalo-eiti-accesibilidad .contrast {
    width: 7%;
    padding-top: 5px; }
  #block-encefalo-eiti-accesibilidad .high_contrast_switcher {
    height: 30px; }
  #block-encefalo-eiti-accesibilidad .high_contrast_switcher_normal, #block-encefalo-eiti-accesibilidad .high_contrast_switcher_label, #block-encefalo-eiti-accesibilidad .high_contrast_switcher_separator {
    display: none; }
  #block-encefalo-eiti-accesibilidad .high_contrast_switcher_high, #block-encefalo-eiti-accesibilidad .high_contrast_switcher_normal {
    background-image: url("https://image.flaticon.com/icons/svg/3/3558.svg");
    background-repeat: no-repeat;
    background-size: contain; }
  #block-encefalo-eiti-accesibilidad .high_contrast_switcher_high a, #block-encefalo-eiti-accesibilidad .high_contrast_switcher_normal a {
    opacity: 0; }
  #block-encefalo-eiti-accesibilidad #text_resize_increase {
    background-image: url("/sites/all/themes/eiti_theme/css/images/iconos/A-33.jpg") !important;
    height: 32px !important;
    margin: 0px 0 0 0 !important;
    width: 27px !important; }
  #block-encefalo-eiti-accesibilidad #text_resize_reset {
    background-image: url("/sites/all/themes/eiti_theme/css/images/iconos/A-34.jpg") !important;
    height: 32px !important;
    margin: 0px 0 0 0 !important;
    width: 27px !important; }
  #block-encefalo-eiti-accesibilidad #text_resize_decrease {
    background-image: url("/sites/all/themes/eiti_theme/css/images/iconos/A-35.jpg") !important;
    height: 32px !important;
    margin: 0px 0 0 0 !important;
    width: 27px !important; }

#block-menu-menu-links-de-interes ul li a:hover {
  background: transparent; }

#block-print-ui-print-links {
  float: right;
  height: 26px;
  width: 4.333333% !important; }

#block-menu-menu-links-de-interes li.first.leaf {
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/eiti.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes li:nth-child(2) {
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/ANH.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes li:nth-child(3) {
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/mineria.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes li:nth-child(4) {
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/DNP.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes li:nth-child(5) {
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/upme.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes li:nth-child(6) {
  background-image: url(/sites/all/themes/eiti_theme/css/images/iconos/dian.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes h2.block-title.block-title {
  font-size: 12px;
  color: #3498db;
  text-align: center; }

.list-unstyled .title-widget, #block-views-eiti-block-5 .block-title, #block-block-6 .block-title {
  font-size: 20px;
  color: #6c6d70; }

/**
 * Home Sections
 */
section.bootstrap-carousel .carousel {
  height: 326.2px;
  margin-bottom: 60px; }
  section.bootstrap-carousel .carousel .views-field.views-field-title {
    background: #3498db;
    font-weight: bold;
    text-align: center; }
  section.bootstrap-carousel .carousel span.field-content a {
    color: #fff;
    line-height: 1.9;
    font-size: 17px; }
  section.bootstrap-carousel .carousel-indicators {
    bottom: -65px; }
    section.bootstrap-carousel .carousel-indicators li {
      border: 1px solid #3498db; }
      section.bootstrap-carousel .carousel-indicators li.active {
        background: #3498db; }

section.bootstrap-carousel .pager, section.bootstrap-carousel .pagination {
  display: none; }

section.noticias .view .views-field-title {
  margin: 10px 0; }

section.noticias .more-link {
  text-align: center; }
  section.noticias .more-link a {
    padding: 5px;
    text-decoration: none;
    font-weight: bold; }
    section.noticias .more-link a:hover {
      background-color: #3498db;
      color: #fff; }

.region-content {
  margin-top: 20px; }

.menu_inferior {
  margin: 20px 0; }
  .menu_inferior .enlaces {
    display: flex;
    align-items: center;
    justify-content: center; }
    .menu_inferior .enlaces ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .menu_inferior .enlaces ul li {
        padding-bottom: 2px;
        font-size: 13px;
        margin-left: 20px;
        position: relative; }
        .menu_inferior .enlaces ul li:before {
          content: "";
          width: 5px;
          height: 5px;
          left: -12px;
          top: 6px;
          background-color: red;
          position: absolute; }
      .menu_inferior .enlaces ul.columna1 li.item1:before {
        background-color: #c61720; }
      .menu_inferior .enlaces ul.columna1 li.item2:before {
        background-color: #900; }
      .menu_inferior .enlaces ul.columna1 li.item3:before {
        background-color: #151f99; }
      .menu_inferior .enlaces ul.columna1 li.item4:before {
        background-color: #0f3e99; }
      .menu_inferior .enlaces ul.columna1 li.item5:before {
        background-color: #00630c; }
      .menu_inferior .enlaces ul.columna1 li.item6:before {
        background-color: #410e99; }
      .menu_inferior .enlaces ul.columna2 li.item1:before {
        background-color: #531400; }
      .menu_inferior .enlaces ul.columna2 li.item2:before {
        background-color: #992900; }
      .menu_inferior .enlaces ul.columna2 li.item3:before {
        background-color: #3d6300; }
      .menu_inferior .enlaces ul.columna2 li.item4:before {
        background-color: #38170d; }
      .menu_inferior .enlaces ul.columna2 li.item5:before {
        background-color: #63004b; }
      .menu_inferior .enlaces ul.columna2 li.item6:before {
        background-color: #5b8300; }
      .menu_inferior .enlaces ul.columna3 li.item1:before {
        background-color: #3c9900; }
      .menu_inferior .enlaces ul.columna3 li.item2:before {
        background-color: #73611d; }
      .menu_inferior .enlaces ul.columna3 li.item3:before {
        background-color: #996200; }
      .menu_inferior .enlaces ul.columna3 li.item4:before {
        background-color: #590a99; }
      .menu_inferior .enlaces ul.columna3 li.item5:before {
        background-color: #2b1399; }
      .menu_inferior .enlaces ul.columna3 li.item6:before {
        background-color: #1d7373; }

footer.footer {
  background: #202020; }

.post-footer {
  background: #333333;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px; }

.footer {
  padding-bottom: 10px !important; }

/**
 * Content Types
 */
.node-type-article .field-type-image img {
  margin: auto; }

.not-front .field-name-noticias a {
  color: #3498db;
  text-transform: uppercase;
  font-size: 20px; }

.not-front.node-type-article .field-name-field-tags .field-item {
  margin: 7px; }
  .not-front.node-type-article .field-name-field-tags .field-item a {
    color: #7f8c8d;
    font-size: 12px;
    text-transform: capitalize; }

.page-noticias .views-field-title {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important; }
  .page-noticias .views-field-title a {
    color: #3498db; }

.page-noticias .views-field-body {
  height: 162px; }

.page-taxonomy-term-7 .node-teaser.view-mode-teaser {
  padding: 10px 0;
  border-top: 1px solid #c1c2c3; }

.page-taxonomy-term-7 .field-name-title h3 {
  margin-top: 0;
  font-size: 15px; }

.front #block-views-eiti-block-1 .views-field-body {
  height: 160px; }

/**
 * Views
 */
.view-id-documentos #views-bootstrap-grid-1 .views-field-title a {
  font-size: 12px !important;
  font-weight: bold; }

#views-bootstrap-grid-1 .views-field-view-node {
  margin-top: 2%;
  float: right; }
  #views-bootstrap-grid-1 .views-field-view-node .field-content {
    padding: 7px;
    border: solid 1px #e1e1e1; }
    #views-bootstrap-grid-1 .views-field-view-node .field-content a {
      color: #939393 !important; }
    #views-bootstrap-grid-1 .views-field-view-node .field-content span {
      color: #68bde7 !important; }

#views-bootstrap-media-1 a {
  font-size: 14px; }

#views-bootstrap-media-1 .media-body {
  color: #6c6d70; }

.view-documentos .view-content .media-heading a {
  color: #000 !important; }

.view-id-documentos.col-md-8 {
  margin-top: 20px; }

.view-nodequeue-1 ul {
  padding-bottom: 22px;
  padding-left: 0; }

.view-header.col-md-12, .view-header.col-md-4 p {
  font-size: 12px;
  color: #7f8c8d; }

.view-documentos h2 {
  color: #7f8c8d;
  text-transform: uppercase; }

#views-bootstrap-grid-1 .col-lg-6:nth-child(1) .views-field.views-field-view-node {
  display: none; }

.view-display-id-page_3 #views-bootstrap-media-1 a {
  color: #000; }

.view-documentos .view-header p:nth-child(1) {
  float: left;
  margin-bottom: 0; }
  .view-documentos .view-header p:nth-child(1) img {
    float: left;
    margin-bottom: 0; }

.view-documentos .view-header h3 {
  margin-top: 10px;
  font-size: 12px !important;
  font-weight: bold;
  color: #3498db; }

.view-id-documentos.view-display-id-page_1 #views-bootstrap-media-1 a {
  color: #7f8c8d; }

.view-id-documentos.view-display-id-page_1 #views-bootstrap-media-1 a.btn.action {
  margin-left: 5.8%; }

#quicktabs-tabpage-view__documentos__page-0 {
  display: none; }

/**
 * Miscellaneous
 */
.field-name-field-recursos .field-label {
  font-size: 25px; }

.art-layout-cell h2 {
  width: 30%;
  float: left; }

.art-layout-cell hr {
  width: 70%;
  float: left;
  margin-top: 5%; }

.art-layout-cell .nav.nav-tabs {
  width: 100%;
  float: left;
  border: none; }
  .art-layout-cell .nav.nav-tabs li {
    border: 1px solid #e1e1e1; }
    .art-layout-cell .nav.nav-tabs li.active {
      background: #fcfcfc;
      border-radius: 0;
      border-bottom: none; }
    .art-layout-cell .nav.nav-tabs li a {
      color: #666666;
      background: #fcfcfc;
      border: none; }

.art-layout-cell .tab-content .tab-pane.active .art-content-layout .art-content-layout-row:nth-child(2) {
  background: #fcfcfc;
  border: 1px solid #e1e1e1; }

.widget-container p, #views-bootstrap-media-1 a, #block-block-6 .list-unstyled li, #block-block-7 .list-unstyled li {
  color: #fff; }

.list-unstyled p {
  color: #fff; }

.navbar-toggle {
  background-color: buttonface !important; }
  .navbar-toggle .icon-bar {
    background: #000 !important; }

ul.social-media-links.platforms.inline.horizontal {
  float: right; }

#quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle {
  padding: 0; }
  #quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle li {
    border: 1px solid #f5f5f5; }
    #quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle li.active a.active {
      background-color: #3498db !important;
      color: #fff; }
    #quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle li a {
      font-size: 12px;
      color: #7f8c8d; }

.nav-tabs {
  border-bottom: 1px solid #ddd; }

.right {
  float: right;
  padding: 0; }

.media-body ol li {
  list-style: none; }

/*Media querys*/
@media (max-width: 990px) {
  .menu_inferior .enlaces {
    flex-direction: column; } }

@media (max-width: 991px) {
  .right {
    margin-left: 12px; } }

.node-type-galeria .field-name-field-imagenes .field-items {
  display: flex;
  flex-wrap: wrap; }
  .node-type-galeria .field-name-field-imagenes .field-items .field-item {
    width: 32%;
    margin: 5px; }
