{% load menu_tags staticfiles snippet_tags %}
<!-- Fixed navbar -->
<div class="navbar container  " role="navigation">
   <div class="container">
      <div class="navbar-header">
         <a class="logo navbar-btn" href="/" title="Inicio">
         <img src="{% static "css/images/LOGO_EitiColombia.png" %}"
         alt="Inicio"  width="20%">
         </a>
         <a class="logo navbar-btn" href="/" title="Inicio">
         <img src="{% static "css/images/Logo_Gobierno.png" %}"
         alt="Inicio"   width="27%">
         </a>
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/"></a>
      </div>
      <nav role="navigation">
         <div class="region region-navigation">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <section id="block-search-form" class="block block-search clearfix">
                  <form class="form-search content-search hidden-xs" action="/es/noticia/search/" method="get" id="search-block-form"
                     accept-charset="UTF-8">
                     <div>
                        <div>
                           <h2 class="element-invisible">Formulario de búsqueda</h2>
                           <div class="input-group">
				<input title="Escriba lo que quiere buscar."
                              placeholder="Buscar" class="form-control form-text"
                              type="text" id="edit-search-block-form--2"
                              name="q" value="" size="15"
                              maxlength="128"><span class="input-group-btn"><button
                              type="submit" class="btn btn-primary"><span
                              class="icon glyphicon glyphicon-search"
                              aria-hidden="true"></span></button></span></div>
                           <div class="form-actions form-wrapper form-group" id="edit-actions">
                              <button class="element-invisible btn btn-primary form-submit" type="submit"
                                 id="edit-submit" name="op" value="Buscar">Buscar
                              </button>
                           </div>
                           <input type="hidden" name="max_articles"
                              value="10">
                        </div>
                     </div>
                  </form>
               </section>
               <section id="block-encefalo-eiti-accesibilidad" class="block block-encefalo-eiti clearfix">
                  <div class="text-resize hidden-xs">
                  <a href="javascript:;" id="accessibility-font-increase" class="js-accessibility contrast1"><i class="fa fa-font" aria-hidden="true">+</i></a>
                  <a href="javascript:;" id="accessibility-font" class="js-accessibility contrast1"><i class="fa fa-font" aria-hidden="true"></i></a>
                  <a href="javascript:;" id="accessibility-font-decrease" class="js-accessibility contrast1"><i class="fa fa-font" aria-hidden="true">-</i></a>

                  <a href="javascript:;" id="accessibility-contrast" class="js-accessibility"> <i class="contrast"></i> </a>
                  </div>
               </section>
               <section id="block-social-media-links-social-media-links"
                  class="block block-social-media-links clearfix">
                  <div class="content-redes align-right mb-sm">
                     <div class="redes_sociales hidden-xs">
                        {% snippet_fragment 'redes_sociales' %}
                     </div>
                  </div>
               </section>
               <section id="block-superfish-1" class="block block-superfish clearfix">
                  <ul class="nav navbar-nav navbar-right"
                     class="menu sf-menu sf-art-hmenu sf-horizontal sf-style-none sf-total-items-5 sf-parent-items-1 sf-single-items-4 superfish-processed sf-js-enabled"
                     style="display: block;">
                     {% show_menu 0 100 100 100 "inc/menu_inc.html" %}
                  </ul>
               </section>
            </div>
         </div>
      </nav>
   </div>
</div>

