{% load menu_tags cache %}
{% for child in children %}

    <li>
        <a href="{{ child.get_absolute_url }}"
           class="menu {% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}">
            {% if not child.is_leaf_node %}+{% endif %}{{ child.get_menu_title }}
        </a>
        {% if child.children %}
            <ul>
                {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
            </ul>
        {% endif %}
    </li>

{% endfor %}