{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% page_attribute 'meta_description' %}">
    <meta name="author" content="">

    <title>{% page_attribute 'page_title' %} - EITI COLOMBIA</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,300,600,700,800" rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="{% static "css/modern-business.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/overrides.css" %}" rel="stylesheet">
    <link href="{% static "css/system.base.css" %}" rel="stylesheet">
    <link href="{% static "css/text-resize.css" %}" rel="stylesheet">
    <link href="{% static "css/social_media_links.css" %}" rel="stylesheet">
    <link href="{% static "css/informe-2016.css" %}" rel="stylesheet">
    <link href="{% static "css/accessibility-buttons.css" %}" rel="stylesheet">
    <link rel="icon" href="{% static "css/favicon.ico" %}" type="image/png" sizes="16x16">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% render_block "css" %}
</head>

<body>


{% cms_toolbar %}


 {% include "inc/menu.html" %}

{% block content %}


{% endblock %}

<!-- Page Content -->


<!-- Footer -->
<footer>
    {% static_placeholder "Footer" %}
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110330867-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110330867-1');
</script>

<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/initeiti.js" %}"></script>
<script src="{% static "js/scripts.js" %}"></script>
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script src="{% static "js/accessibility-buttons.js" %}"></script>
<script src="{% static "js/timeline.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
{% render_block "js" %}
</body>

</html>
