{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% page_attribute "page_title" %}</h1>

            </div>
        </div>
    </div>

    {% placeholder content or %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p> Agregue su contenido aquí
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>


    {% endplaceholder %}
{% endblock content %}
