{% extends "base.html" %}

{% load i18n apphooks_config_tags %}

{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block content %}


    {%  placeholder content or %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Mosts of Start Bootstrap's unstyled templates can be directly integrated into the Modern Business
                        template. You can view all of our unstyled templates on our website at <a
                                href="http://startbootstrap.com/template-categories/unstyled">http://startbootstrap.com/template-categories/unstyled</a>.
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>


    {% endplaceholder %}

{% endblock content %}

