{% extends "base.html" %}
{% load i18n apphooks_config_tags cms_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">

            <section class="col-sm-9">
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                        {% show_breadcrumb 0 "includes/menu/breadcrumb.html" %}
                    {% endblock %}
                </ol>
                {% placeholder content or %}

                {% endplaceholder %}
            </section>
            {% placeholder sidebar or %}
                <aside class="col-sm-3 hidden-xs">
                    {% include "sidebar_submenu.html" %}
                </aside>
            {% endplaceholder %}

        </div>
    </div>



{% endblock content %}




