{% extends "base.html" %}
{% load i18n apphooks_config_tags cms_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">

            <section class="col-sm-12">
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                        {% show_breadcrumb 0 "includes/menu/breadcrumb.html" %}
                    {% endblock %}
                </ol>
                <aside class="col-sm-4">
                    {% placeholder sidebar or %}

                        {% include "sidebar_submenu.html" %}

                    {% endplaceholder %}
                </aside>
                <aside class="col-sm-8">
                    {% placeholder content or %}

                    {% endplaceholder %}
                </aside>
            </section>


        </div>
    </div>



{% endblock content %}




