{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}


<div id="carousel-example-generic" class="views-bootstrap-carousel-plugin-style carousel slide" data-ride="carousel">
    <!-- Indicators -->
    {% if article_list.count == 1 %}
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

    </ol>
    {% endif %}


        {% if article_list.count == 2 %}
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>

    </ol>
    {% endif %}

        {% if article_list.count == 3 %}
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    {% endif %}

    {% if article_list.count == 4 %}
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>

    </ol>
    {% endif %}

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for article in article_list %}
            {% if article.featured_image_id %}
                    <div class="item {% if forloop.first %} active{% endif %}">
                        <div class="views-field views-field-field-image">
                            <div class="field-content">
                                <img class="img-responsive"
                                     src="{% thumbnail article.featured_image 1140x326 crop subject_location=article.featured_image.subject_location %}"
                                     alt="{{ article.title }}" title="{{ article.title }}">
                            </div>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><a
                                href="{{ article.get_absolute_url }}">{{ article.title }}</a></span>
                        </div>
                    </div>

            {% endif %}
        {% endfor %}
    </div>

    <!-- Controls -->
    <!-- Controls -->
    {% if article_list.count > 1 %}
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    {% endif %}
    {% if article_list.count > 1 %}
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    {% endif %}
</div>
