{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}


<h2 class="block-title block-title tituloSeccion">{% trans "Noticias" %}</h2>
<div class="hline"></div>

<div class="row">
        <div id="Noticias">
                <div>
                    <div id="newsContainer">
                        {% for article in article_list %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <article class="white-panel m-xs mb-sm news"> 
                                        {% if article.featured_image_id %}
                                    <a href="{{ article.get_absolute_url }}" class="thumbnail">
                                        <img class="img-responsive"
                                        src="{% thumbnail article.featured_image 404x260 crop subject_location=article.featured_image.subject_location %}"
                                        alt="{{article.title}}"  title="{{article.title}}">
                                    <p class="date">{% render_model article  "title" %}</p>
                                    <h4> <a href="{{ article.get_absolute_url }}" class="title">{{ article.lead_in }}</a></h4>
                                </a>
                                {% endif %}
                            </article>    
                        {% if article.extension %}
                          {% render_placeholder article.extension.video_placeholder %}
                        {% endif %}
                        </div>
                    {% empty %}
                        <p>{% trans "No items available" %}</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
</div>
<div class="spacing"></div>