{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}


<h2 class="block-title block-title">{% trans "Programa de Formación EITI" %}</h2>
<div class="hline"></div>

<div class="row">
    {% for article in article_list %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {% if article.extension %}
                <div class="video-inicio" style="width: 100%">
                    {% render_placeholder article.extension.video_placeholder %}
                </div>

            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="min-height: 160px">
            <h5><a href="{{ article.get_absolute_url }}">{% render_model article "title" %}</a></h5>
            <p>{{ article.lead_in }}</p>
        </div>
    {% empty %}
        <p>{% trans "No items available" %}</p>
    {% endfor %}
</div>
<div class="spacing"></div>