{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}


<h2 class="block-title block-title">{% trans "Noticias" %}</h2>
<div class="hline"></div>

<div class="row">
    {% for article in article_list %}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">


            {% if article.featured_image_id %}
                <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
                    <img class="img-responsive"
                         src="{% thumbnail article.featured_image 404x260 crop subject_location=article.featured_image.subject_location %}"
                          alt="{{article.title}}" title="{{article.title}}" >
                </a>
            {% endif %}



            <h5><a href="{{ article.get_absolute_url }}">{% render_model article  "title" %}</a></h5>
            <p>{{ article.lead_in }}</p>
            {% render_placeholder  article.video %}
           <!-- {% render_placeholder  article.content %} -->
            <!--em>Posted: {{  article.publishing_date|date }}</em-->
        {% if article.extension %}
          {% render_placeholder article.extension.image_placeholder %}
        {% endif %}
        </div>


    {% empty %}
        <p>{% trans "No items available" %}</p>
    {% endfor %}
</div>
<div class="spacing"></div>
