{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}


<div class="hline"></div>


    {% for article in article_list %}



            {% if article.featured_image_id %}
                <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
                    <img class="img-responsive"
                         src="{% thumbnail article.featured_image 404x260 crop subject_location=article.featured_image.subject_location %}"
                         alt="{{ article.featured_image.alt }}">
                </a>
            {% endif %}



            <h5><a href="{{ article.get_absolute_url }}">{% render_model article  "title" %}</a></h5>

        {% if article.extension %}
            <div id="list_video_formation">
            {% render_placeholder article.extension.video_placeholder %}
            </div>

        {% endif %}



    {% empty %}
        <p>{% trans "No items available" %}</p>
    {% endfor %}

<div class="spacing"></div>