/**
 * Place your custom styles here.
 */

header#navbar{
  background: none !important;
  border: 0 !important;
}

h2.block-title.block-title {
  color: blue;
}

#block-superfish-1{
  margin-top: 40px;
}

#superfish-1 li{
  margin-right: 32px;
}

#superfish-1 li a{
  color: #0083b6 !important;
}

.sf-hidden li a{
  color: #0083b6 !important;
}

#views-bootstrap-carousel-1 .carousel-inner a img{
  width: 100% !important;
  text-align: center;
}
.views-field-title
{
	margin-left: 300px;
}
.views-field-body
{
	margin-left: 300px;
	margin-top: -30px;
}