/*!
*   Accessibility Buttons v3.1.2
*   http://tiagoporto.github.io/accessibility-buttons
*   Copyright (c) 2014-2017 Tiago Porto (http://tiagoporto.com)
*   Released under the MIT license
*/

html {
}
body {
  -webkit-transition: background 1s ease, font-size 0.7s linear;
  transition: background 1s ease, font-size 0.7s linear;
}
input,
textarea,
keygen,
select,
button {
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
.accessibility-font-increase {
/* First font-size fallback to older browsers*/
  font-size: 1.75em;
  font-size: 1.75rem;
}

.accessibility-font-decrease {
/* First font-size fallback to older browsers*/
  font-size: 1.25em;
  font-size: 1.25rem;
}

.accessibility-font {
/* First font-size fallback to older browsers*/

}


.accessibility-font input,
.accessibility-font textarea,
.accessibility-font keygen,
.accessibility-font select,
.accessibility-font button {
/* The default font-size of these elements is approximately 20% less than the body */
  font-size: 1.041625em;
  font-size: 1.04163rem;
}
.accessibility-contrast {
  color: #fff;
  background: #a4a4a4;
}
