.btn-primary:hover {
  color: #3498db;
  background-color: #fff;
  border-color: #3498db;
}


.d-flex {
  display: flex
}

@media (max-width: 767px) {
  .d-flex {
      display: block
  }
}

.btn {
  display: block;
  position: relative;
  width: 100%;
  height: 43px;
  line-height: 43px;
  border: solid 1px;
  transition: all 0.25s ease-in;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Verdana";
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
  font-weight: bold
  color: #7f8c8d;
}

.btn-blue {
  background: #3498db;
  border-color: #3498db;
  color: #fff
}

  .btn-blue:hover {
      background: #fff;
      color: #3498db
  }

#inicio {
  min-height: 238px;
  background: #3498db;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 15px;
  margin-bottom: 30px
}

  #inicio img {
      margin: 0 auto
  }

@media (max-width: 767px) {
  #inicio img {
      transform: scale(0.85)
  }
}

#inicio h1 {
  margin-top: 26px;
  margin-bottom: 10px
}

#inicio .whiteSquare {
  height: 35px;
  margin: 0 auto;
  line-height: 35px;
  text-align: center;
  color: #3498db;
  background: #fff;
  border: solid 1px #fff;
  border-radius: 10px;
  max-width: 40%;
  transition: all 0.25s ease-out;
  text-transform: uppercase;
  cursor: pointer
}

  #inicio .whiteSquare h2 {
      margin: 0;
      height: 35px;
      line-height: 35px
  }

      #inicio .whiteSquare h2 a {
          text-decoration: none;
          color: inherit
      }

@media (max-width: 991px) {
  #inicio .whiteSquare {
      max-width: 75%
  }

}

@media (max-width: 767px) {
  #inicio .whiteSquare {
      max-width: 95%
  }
}

#inicio .whiteSquare:hover {
  background: #3498db;
  color: #fff
}

#inicio .internas {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center
}

  #inicio .internas img, #inicio .internas h1 {
      display: inline-block
  }

  #inicio .internas img {
      margin-right: 30px;
      margin-left: 0
  }

  #inicio .internas h1 {
      text-transform: uppercase
  }

@media (max-width: 991px) {
  #inicio .internas img {
      transform: scale(0.75);
      margin: 0
  }

}

@media (max-width: 767px) {
  #inicio .internas img {
      transform: scale(0.65);
      margin: 0
  }

}

#ftHome.insidePost {
  border: none
}

  #ftHome.insidePost h3 {
      color: #3498db;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: "Verdana";
      margin-top: 0;
      margin-bottom: 30px
  }

  #ftHome.insidePost ul {
      list-style: none;
      padding: 0
  }

      #ftHome.insidePost ul li {
          margin-bottom: 40px
      }

          #ftHome.insidePost ul li span, #ftHome.insidePost ul li a {
              display: block
          }

          #ftHome.insidePost ul li span {
              margin-bottom: 15px
          }

          #ftHome.insidePost ul li a {
              word-break: break-all
          }

#mainCategories .img-container {
  padding: 0 15px;
  position: relative
}

  #mainCategories .img-container::after {
      content: '';
      width: 48px;
      height: 48px;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 97%;
      background: url("/sites/default/files/2017-11/elipse.png");
      display: block;
      position: absolute
  }

@media (max-width: 767px) {
  #mainCategories .img-container::after {
      display: none
  }
}

@media (max-width: 1199px) {
  #mainCategories .img-container img {
      margin: 0 auto
  }
}

#mainCategories .title {
  text-align: center;
  margin-top: 14px
}

  #mainCategories .title h3 {
      margin: 0;
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #3498db
  }

      #mainCategories .title h3 a {
          text-decoration: none;
          color: inherit
      }

#mainCategories .col-xl:last-child .img-container::after {
  display: none
}

#mainCategories .col-xl:hover {
  cursor: pointer
}

  #mainCategories .col-xl:hover img {
      filter: grayscale(100%);
      transition: all 0.25s ease-in
  }

  #mainCategories .col-xl:hover h3 a {
      color: #8a8a8a;
      transition: all 0.25s ease-in
  }

@media (max-width: 1199px) {
  #mainCategories .col-xl {
      margin-bottom: 30px;
      min-height: 272px
  }

      #mainCategories .col-xl:nth-child(3) .img-container::after {
          display: none
      }
}

#subSections {
  margin-top: 30px
}

  #subSections .col-xs-12 {
      margin-bottom: 30px
  }

@media (max-width: 767px) {
  #subSections .col-xs-12 {
      margin-bottom: 15px
  }


}

#ftHome {
  margin-top: 0px;
}

  #ftHome .grayDark, #ftHome .blue, #ftHome .block {
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      /*height: 66px;*/
      line-height: 66px;
      margin-bottom: 10px;
      font-size: 1.4rem;
      transition: all 0.25s ease-in
  }

      #ftHome .grayDark img, #ftHome .grayDark span, #ftHome .blue img, #ftHome .blue span, #ftHome .block img, #ftHome .block span, #ftHome .datos img, #ftHome .datos span {
          display: inline-block
      }

      #ftHome .grayDark a, #ftHome .blue a, #ftHome .block a {
          width: 100%;
          color: #3498db
      }

      #ftHome .grayDark img, #ftHome .blue img, #ftHome .block img {
          margin-right: 15px
      }

@media (max-width: 991px) {
  #ftHome .grayDark img, #ftHome .blue img, #ftHome .block img {
      transform: scale(0.65)
  }
}

@media (max-width: 767px) {
  #ftHome .grayDark img, #ftHome .blue img, #ftHome .block img {
      transform: scale(0.5);
      margin: 0
  }
}




#ftHome .grayDark {
  background: #e1e1e1;
  font-size: 1.4rem;
  cursor: pointer
}

  #ftHome .grayDark img {
      vertical-align: top;
      margin-top: 5px
  }


#ftHome .grayDark:hover {
  background: #3498db
}

  #ftHome .grayDark:hover a {
      color: #fff
  }

  #ftHome .grayDark:hover img {
      filter: grayscale(80%) brightness(210%)
  }

#ftHome .gray {
  background: #f1f1f1;
  display: block
}

  #ftHome .gray:hover {
      background: #3498db;
      color: #fff
  }

      #ftHome .gray:hover img {
          filter: grayscale(80%) brightness(210%)
      }

#ftHome .blue {
  background: #3498db;
  margin-bottom: 0;
  font-size: 1.8rem;
  cursor: pointer
}

  #ftHome .blue a {
      color: #fff;
      display: block
  }

  #ftHome .blue img {
      vertical-align: top;
      margin-top: 5px
  }

@media (max-width: 991px) {
  #ftHome .blue {
      font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  #ftHome .blue {
      font-size: 1rem;
  }
}

#ftHome .blue:hover {
  background: #fff
}

  #ftHome .blue:hover a {
      color: #3498db;
  }

  #ftHome .blue:hover img {
      filter: brightness(50%) sepia(80) saturate(100) hue-rotate(185deg)
  }

#ftHome .row .block:first-child {
  padding-left: 0;
  padding-right: 5px;
  text-align: right
}

  #ftHome .row .block:first-child .gray {
      padding-right: 60px
  }

#ftHome .row .block:last-child {
  padding-right: 0;
  padding-left: 5px;
  text-align: left
}

  #ftHome .row .block:last-child .gray {
      padding-left: 60px
  }

@media (max-width: 767px) {
  #ftHome .row .block {
      padding: 0 !important
  }

      #ftHome .row .block:first-child, #ftHome .row .block:last-child {
          text-align: center
      }

          #ftHome .row .block:first-child .gray, #ftHome .row .block:last-child .gray {
              padding: 0
          }
}

.sideMenu {
  display: flex;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-right: solid 1px #4d4d4d
}

  .sideMenu ul {
      list-style: none;
      padding: 0;
      width: 100%
  }

      .sideMenu ul li {
          font-size: 18px;
          font-family: "Verdana";
          text-transform: uppercase;
          text-align: left;
          padding-top: 17px;
          padding-bottom: 17px;
          width: 100%;
          transition: all 0.35s ease-out;
          color: #7f8c8d;
          cursor: pointer;
          display: block;
          position: relative
      }

          .sideMenu ul li a {
              color: inherit;
              text-decoration: none
          }

          .sideMenu ul li::after {
              content: '';
              width: 100%;
              height: 1px;
              background: #3498db;
              position: absolute;
              bottom: 0;
              display: block;
              transition: all 0.35s ease-in;
              transform: scale(0);
              transform-origin: left
          }

          .sideMenu ul li.active, .sideMenu ul li:hover {
              font-weight: bold;
              color: #3498db
          }

              .sideMenu ul li.active::after, .sideMenu ul li:hover::after {
                  transform: scale(1)
              }

@media (max-width: 1199px) {
  .sideMenu ul li {
      font-size: 16px
  }
}

@media (max-width: 991px) {
  .sideMenu ul li {
      font-size: 14px
  }
}

.sideMenu ul li:first-child {
  padding-top: 0
}

@media (max-width: 767px) {
  .sideMenu ul {
      padding: 0 15px;
      margin-bottom: 25px
  }
}

@media (max-width: 767px) {
  .sideMenu {
      border: none
  }
}

.sideMenu .customRow {
  width: 100%;
  display: flex
}

.insidePost {
  border-bottom: solid 1px #4d4d4d;
  margin-top: 60px
}

  .insidePost .content {
      font-size: 18px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 0;
      padding-bottom: 70px
  }

      .insidePost .content p {
          margin-bottom: 35px;
          text-align: justify
      }

@media (max-width: 767px) {
  .insidePost .content p {
      margin-bottom: 20px
  }
}

@media (max-width: 767px) {
  .insidePost .content {
      padding-left: 0;
      padding-right: 0;
      font-size: 15px;
      padding-bottom: 30px
  }
}

.insidePost .content .customTable {
  padding: 15px;
  margin-bottom: 15px
}

  .insidePost .content .customTable table {
      border: none
  }

  .insidePost .content .customTable td {
      vertical-align: middle
  }

      .insidePost .content .customTable td:first-child {
          border-left: none
      }

      .insidePost .content .customTable td:last-child {
          border-right: none
      }

  .insidePost .content .customTable tr:last-child td {
      border-bottom: none
  }

.insidePost .content .grayDark {
  background: #7f8c8d;
  color: #fff
}

.insidePost .content .blueTable {
  background: #3498db;
  color: #fff
}

.insidePost .content sub {
  margin-bottom: 35px;
  display: block;
  font-size: 12px;
  line-height: inherit
}

@media (max-width: 767px) {
  .insidePost .content sub {
      margin-bottom: 20px
  }
}

.insidePost .subtitle {
  margin-bottom: 22px;
  text-transform: uppercase;
  color: #3498db
}

  .insidePost .subtitle h2 {
      font-weight: 400;
      display: block;
      margin: 0
  }

  .insidePost .subtitle.toggleContent {
      cursor: pointer
  }

@media (max-width: 767px) {
  .insidePost {
      margin-top: 30px
  }
}


.container-fluid {
     margin-top:20px;
}

.datos {
    position: absolute;
    /*  top: 20px;*/
    left: 83%;
    margin-top:-5%;
  }
  
    .datos > a {
        color: white !important;
    }
    .datos .linea {
        display: inline-block;
        font-size: 1.6rem;
    }
  
  .datos img {
        display: inline-block;
        filter: grayscale(80%) brightness(210%);
    }



    @media (max-width: 767px){
        .datos {
            position: absolute;
            /*  top: 20px;*/
            left: 80%;
            margin-top:-16%;
          }
          
            .datos > a {
                color: white !important;
            }
            .datos .linea {
                display: inline-block;
                font-size: 1.2rem;
            }
          
          .datos img {
                display: inline-block;
                filter: grayscale(80%) brightness(210%);
            }

    }
/*.container { padding-left: 0px; padding-right: 0px;} daña el bootstrap*/



.field-item.even .alert:hover {
    background: white;
    border: 1px solid #3398db;
    cursor: pointer;
}

.field-item.even .alert:hover a {
    color: #3398db;
    text-decoration: none;
}

.field-item.even .alert a {
    color: #fff;
}


.field-item.even .alert {
    height: 100px;
    background: #3398db;    
    display: flex;
    align-items: center;
    justify-content: center;
}


.flechaInforme{


    vertical-align: middle;
    margin-top: 60px;
    margin-bottom: 60px;

}

.sidebar-font-root {
    font-size: 16px;
    font-family: "Verdana";
    text-transform: uppercase;
    text-align: left;
    color: #7f8c8d;
    text-decoration: none;
    font-weight: bold;
}

.sidebar-font-root:hover {
    color: #3498db;
}
.sidebar-font-root.active {
    color: #3498db;
}
.sidebar-font-child {
    font-size: 13px;
    font-family: "Verdana";
    text-transform: uppercase;
    text-align: left;
    color: #7f8c8d;
    text-decoration: none;
    font-weight: bold;
}
.sidebar-font-child:hover {
    color: #3498db;
}
.sidebar-font-child.active {
    color: #3498db;
}

.font-informe-body {
    font-family: "Verdana", sans-serif;
    font-size: 10.5pt;
    line-height: 2em;
}

