/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    /*  padding-top: 50px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

/* Responsive Styles */

@media (max-width: 991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.redes_sociales {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
}

.redes_sociales ul {
    padding-left: 0px;
}

.redes_sociales ul li {
    padding-right: 5px;
}

.content-redes {
    display: inline-block;
    width: 100%
}

.redes_sociales, .others_buttons {
    display: inline-block
}

.redes_sociales ul, .others_buttons ul {
    margin: 0;
    line-height: 2em
}

.redes_sociales ul li, .others_buttons ul li {
    display: inline-block
}

.redes_sociales ul li a i, .others_buttons ul li a i {
    width: 15px;
    text-align: center
}

.redes .icon-fa-twitter {
    background-color: #00acee
}

.redes .icon-fa-facebook {
    background-color: #3b5998
}

.redes .icon-fa-google-plus {
    background-color: #de4b39
}

.redes .icon-fa-youtube {
    background-color: #ec2d24
}

.redes .icon-fa-instagram {
    background-color: #3f729b
}

.redes .icon-fa-flickr {
    background-color: #ed1983
}

.redes .icon-fa-rss {
    background-color: #e19126
}

.icon_circle {
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

.icon_circle:hover {
    color: white
}

.icon_default:hover {
    background-color: #cb0
}

.video-inicio .video-detail iframe {
    width: 100%;
    height: auto !important;
}

.video-detail iframe {

    width: 100%;
}
 #list_video_formation .video-detail iframe {
        width: auto;
 }

@media (min-width: 320px) {

    .video-detail iframe {

        height: 200px;
    }
     #list_video_formation .video-detail iframe {
        height: auto;
    }

}

@media (min-width: 500px) {

    .video-detail iframe {

        height: 400px;
    }
     #list_video_formation .video-detail iframe {
        height: auto;
    }

}

/* CSS pantalla 768px o superior */
@media (min-width: 768px) {

    .video-detail iframe {
        height: 600px;
    }

    #list_video_formation .video-detail iframe {
        height: auto;
    }
}

.btn-primary {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}

.panel-primary {
    border-color: #3498db;
}

.panel-primary > .panel-heading {
    background-color: #3498db;
    border-color: #3498db;
}

.gray:hover {
    color: #8a8a8a;
    transition: all 0.25s ease-in;
}

@media (min-width: 1200px) {
    .flex {
        display: flex;
    }
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.company img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.company .img-wrapper {
    display: flex;
    height: 110px;
}

.company {
    width: 235px;
    text-align: center;
    margin: 5px;
    border: 1px solid #e1e1e1;
}

.company p:first-of-type {
    color: #fff;
    background: #258a93;
    font-weight: bold;
    margin: 5px 0;
    font-size: 11px;
}

.company span {
    color: #7c8e88;
    font-size: 11px;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 73%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
