.block-social-media-links ul.platforms,
.pane-social-media-link-widget ul.platforms {
  padding-left: 0;
}

.block-social-media-links .horizontal li,
.pane-social-media-link-widget .horizontal li {
  display: inline-block;
  text-align: center;
  padding: .2em .2em;
}

.block-social-media-links .vertical li,
.pane-social-media-link-widget .vertical li {
  list-style-type: none;
  margin: 0 0 .5em 0
}

.block-social-media-links .vertical li a img,
.pane-social-media-link-widget .vertical li a img {
  vertical-align: middle;
  margin-right: .5em;
}
