@charset "UTF-8";
@font-face {
  font-family: "MyriadPro";
  src: url(fonts/MyriadPro/MyriadPro-It.ttf); }

@font-face {
  font-family: "MyriadPro-Regular";
  src: url(fonts/MyriadPro/MyriadPro-Regular.ttf); }

@font-face {
  font-family: "MyriadPro-Bold";
  src: url(fonts/MyriadPro/MyriadPro-BoldIt.ttf); }


  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}
/**
 * Place your custom styles here.
 
body {
  font-family: "Verdana";
  color: #7f8c8d; }

h1, h2, h3 {
  font-family: Verdana ;
  font-weight: bold ;
*text-transform: uppercase ;
  color: #3498db ; }

h1{
font-size: 20px;
 }

h2{
font-size: 18px;
}

h2.a{
color: #3498db !important;
}

h3 {
font-size: 18px;
font-weight: regular;
}

h1.page-header, .col-sm-10 h3 {
  color: #7f8c8d;  }


.cms-plugin-2635{
color: #3498db !important;
}

.espacioVideo{
margin-top:22px;
}



.navbar-btn {
  margin: 0; } */






a:focus {
    outline:none !important;
}

a, p, span, h1, h2, h3, h4, h5, b, strong, input[type=submit], input[type=button], div {
    font-family: 'Montserrat', sans-serif !important;
}
h1, h2, h3, h4, h5, .pi-section-white strong, .pi-section-white h1, .pi-section-white .h1, .pi-section-white h2, .pi-section-white .h2, .pi-section-white h3, .pi-section-white .h3, .pi-section-white h4, .pi-section-white .h4, .pi-section-white h5, .pi-section-white .h5, .pi-section-white h6, .pi-section-white .h6, .pi-section-white a {
    color:#3498db;
}
input[type="text"] {
   width:100%
}




/**
 * Blocks
 */


section#block-text-resize-0 {
  float: right; }

#superfish-1 li {
  margin-right: 12px;
  float: right; }
  #superfish-1 li.active-trail, #superfish-1 li:hover {
    background-color: #3498db; }
    #superfish-1 li.active-trail a, #superfish-1 li:hover a {
      color: #fff; }
  #superfish-1 li a.menuparent {
    position: relative; }
    #superfish-1 li a.menuparent:after {
      content: "›";
      font-size: 20px;
      position: absolute;
      transform: rotate(90deg);
      left: 0;
      right: 0;
      top: 100px; }
  #superfish-1 li a {
    font-size: 16px;
    padding: 15px 12px;
    text-decoration: none; }
    #superfish-1 li a .sf-sub-indicator {
      background: none; }
  #superfish-1 li ul {
    left: 12px;
    top: 47px; }
    #superfish-1 li ul li {
      background-color: #3498db; }
      #superfish-1 li ul li:hover {
        opacity: 0.9; }

.sf-hidden li a {
  color: #3498db !important;
  font-size: 15px; }

#block-block-5 {
  margin-left: 40%; }

#block-block-5 .block-title {
  font-size: 20px;
  color: #6c6d70; }

#block-block-5 p {
  color: #fff; }

#block-views-eiti-block-2 {
  background: #f0f0f0 !important; }

#block-views-nodequeue-1-block .views-field-body p {
  margin-top: 14px; }

#block-views-eiti-block-2 .views-field-nothing .media .media-left {
  padding: 3px;
  padding-bottom: 0;
  border: 1px solid #dddddd; }

#block-views-eiti-block-2 .views-field-nothing .media-body {
  padding-left: 20px; }

#block-views-eiti-block-2 .view-content .views-row {
  padding-bottom: 7px;
  border-bottom: 1px solid #dedede;
  padding-top: 7px; }

#block-views-eiti-block-2 .media-heading a {
  font-size: 15px;
  color: #7f8c8d; }

#block-views-eiti-block-5 .media-heading a {
  font-size: 12px;
  color: #fff; }

#block-views-eiti-block-2 .view-footer a {
  background: #3498db;
  color: #fff;
  padding: 5px;
  float: right;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 12px; }

#block-views-nodequeue-1-block .view-footer a {
  color: #fff;
  background: #d64b2d;
  padding: 14px;
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 3px; }

#block-views-nodequeue-1-block .view-content li {
  list-style: none; }

#block-block-3 .col-md-3 h3 {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-top: -5px;
  margin-bottom: 10px; }

#block-block-3 .col-md-3 span {
  float: left;
  display: inline-block; }

#block-views-eiti-block-3 h2.block-title.block-title {
  color: #7f8c8d;
  font-size: 25px !important; }

#search-block-form input[type=text] {
  /*width: 15px;*/
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  border: transparent; }
  #search-block-form input[type=text]:hover {
    background-color: #fff;
    border: none; }
  #search-block-form input[type=text]:focus {
    /*width: 130px;*/
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto; }

#search-block-form button {
  color: #3e3e3e;
  background: transparent;
  border: transparent; }

#search-block-form input:-moz-placeholder, #search-block-form input::-webkit-input-placeholder {
  color: transparent; }

#block-views-eiti-block-3 .views-field-field-archivo .field-content {
  margin-top: 1% !important;
  font-size: 15px;
  color: #3fa2c8 !important; }
  #block-views-eiti-block-3 .views-field-field-archivo .field-content a {
    margin-top: 1% !important;
    font-size: 15px;
    color: #3fa2c8 !important; }

#block-block-7 .widget_recent_news p {
  font-size: 15px;
  text-align: center; }

#block-block-6 .social-icons li {
  list-style: none;
  margin-bottom: 2px; }
  #block-block-6 .social-icons li a {
    color: #fff;
    font-size: 14px; }

#block-block-7 .widget-container p a {
  color: #fff; }

#block-social-media-links-social-media-links {
  float: right;
  height: 10px; }

#block-block-5 .social-icons li {
  float: left;
  list-style: none; }

#block-block-5 .social-icons ul, #block-block-6 .social-icons ul {
  padding: 0px; }

#block-block-9 {
  text-align: center; }
  #block-block-9 p {
    font-size: 9px;
    color: #7f8c8d; }

#block-menu-menu-links-de-interes ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 25px; }
  #block-menu-menu-links-de-interes ul.menu.nav li {
    float: left !important;
    margin-left: 7%; }
  #block-menu-menu-links-de-interes ul li a {
    display: block;
    color: transparent;
    text-align: center;
    /*padding: 14px 16px;*/
    width: 100px;
    height: 43px;
    text-decoration: none; }

#block-encefalo-eiti-accesibilidad {
  position: fixed;
  left: 20px; }
  #block-encefalo-eiti-accesibilidad .text-resize {
    width: 25%; }
  #block-encefalo-eiti-accesibilidad .contrast {
    width: 7%;
    padding-top: 5px; }
  #block-encefalo-eiti-accesibilidad .high_contrast_switcher {
    height: 30px; }
  #block-encefalo-eiti-accesibilidad .high_contrast_switcher_normal, #block-encefalo-eiti-accesibilidad .high_contrast_switcher_label, #block-encefalo-eiti-accesibilidad .high_contrast_switcher_separator {
    display: none; }
  #block-encefalo-eiti-accesibilidad .high_contrast_switcher_high, #block-encefalo-eiti-accesibilidad .high_contrast_switcher_normal {
    background-image: url("https://image.flaticon.com/icons/svg/3/3558.svg");
    background-repeat: no-repeat;
    background-size: contain; }
  #block-encefalo-eiti-accesibilidad .high_contrast_switcher_high a, #block-encefalo-eiti-accesibilidad .high_contrast_switcher_normal a {
    opacity: 0; }
  #block-encefalo-eiti-accesibilidad #text_resize_increase {
    background-image: url("images/iconos/A-33.jpg") !important;
    height: 32px !important;
    margin: 0px 0 0 0 !important;
    width: 27px !important; }
  #block-encefalo-eiti-accesibilidad #text_resize_reset {
    background-image: url("images/iconos/A-34.jpg") !important;
    height: 32px !important;
    margin: 0px 0 0 0 !important;
    width: 27px !important; }
  #block-encefalo-eiti-accesibilidad #text_resize_decrease {
    background-image: url("images/iconos/A-35.jpg") !important;
    height: 32px !important;
    margin: 0px 0 0 0 !important;
    width: 27px !important; }
     #block-encefalo-eiti-accesibilidad .contrast {
    background-image: url("https://image.flaticon.com/icons/svg/3/3558.svg") !important;
    height: 32px !important;
    margin: 0px 0 0 0 !important;
    width: 27px !important;
     display: block;
     background-repeat: no-repeat;}
     #block-encefalo-eiti-accesibilidad .contrast1 {
    height: 32px !important;
    margin: 0px 0 0 5px !important;
    width: 34px !important;
    display: block;
    background-repeat: no-repeat;
    font-size: 16px;
    color:black;}

#block-menu-menu-links-de-interes ul li a:hover {
  background: transparent; }

#block-print-ui-print-links {
  float: right;
  height: 26px;
  width: 4.333333% !important; }

#block-menu-menu-links-de-interes li.first.leaf {
  background-image: url(images/iconos/eiti.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes li:nth-child(2) {
  background-image: url(images/iconos/ANH.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes li:nth-child(3) {
  background-image: url(images/iconos/mineria.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes li:nth-child(4) {
  background-image: url(images/iconos/DNP.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes li:nth-child(5) {
  background-image: url(images/iconos/upme.jpg);
  color: transparent;
  background-repeat: no-repeat; }

  /**#block-menu-menu-links-de-interes li:nth-child(5) {
    background-image: url(images/iconos/upme.jpg);
    color: transparent;
    background-repeat: no-repeat; }**/

#block-menu-menu-links-de-interes li:nth-child(6) {
  background-image: url(images/iconos/dian.jpg);
  color: transparent;
  background-repeat: no-repeat; }

#block-menu-menu-links-de-interes h2.block-title.block-title {
  font-size: 12px;
  color: #3498db;
  text-align: center; }

.list-unstyled .title-widget, #block-views-eiti-block-5 .block-title, #block-block-6 .block-title {
  font-size: 20px;
  color: #6c6d70; }

/**
 * Home Sections
 */
section.bootstrap-carousel .carousel {
  /*height: 326.2px;*/
  margin-bottom: 60px; }
  section.bootstrap-carousel .carousel .views-field.views-field-title {
    background: #3498db;
    font-weight: bold;
    text-align: center; }
  section.bootstrap-carousel .carousel span.field-content a {
    color: #fff;
    line-height: 1.9;
    font-size: 17px; }
  section.bootstrap-carousel .carousel-indicators {
    bottom: -65px; }
    section.bootstrap-carousel .carousel-indicators li {
      border: 1px solid #3498db; }
      section.bootstrap-carousel .carousel-indicators li.active {
        background: #3498db; }

section.bootstrap-carousel .pager, section.bootstrap-carousel .pagination {
  display: none; }

section.noticias .view .views-field-title {
  margin: 10px 0; }

section.noticias .more-link {
  text-align: center; }
  section.noticias .more-link a {
    padding: 5px;
    text-decoration: none;
    font-weight: bold; }
    section.noticias .more-link a:hover {
      background-color: #3498db;
      color: #fff; }

.region-content {
  margin-top: 20px; }

.menu_inferior {
  margin: 20px 0; }
  .menu_inferior .enlaces {
    display: flex;
    align-items: center;
    justify-content: center; }
    .menu_inferior .enlaces ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .menu_inferior .enlaces ul li {
        padding-bottom: 2px;
        font-size: 13px;
        margin-left: 20px;
        position: relative; }
        .menu_inferior .enlaces ul li:before {
          content: "";
          width: 5px;
          height: 5px;
          left: -12px;
          top: 6px;
          background-color: red;
          position: absolute; }
      .menu_inferior .enlaces ul.columna1 li.item1:before {
        background-color: #c61720; }
      .menu_inferior .enlaces ul.columna1 li.item2:before {
        background-color: #900; }
      .menu_inferior .enlaces ul.columna1 li.item3:before {
        background-color: #663ab7; }
      .menu_inferior .enlaces ul.columna1 li.item4:before {
        background-color: #607d8b; }
      .menu_inferior .enlaces ul.columna1 li.item5:before {
        background-color: #ff9802; }
      .menu_inferior .enlaces ul.columna1 li.item6:before {
        background-color: #09585d; }
      .menu_inferior .enlaces ul.columna2 li.item1:before {
        background-color: #3f51b5; }
      .menu_inferior .enlaces ul.columna2 li.item2:before {
        background-color: #cddd39; }
      .menu_inferior .enlaces ul.columna2 li.item3:before {
        background-color: #ff5723; }
      .menu_inferior .enlaces ul.columna2 li.item4:before {
        background-color: #9b28b0; }
      .menu_inferior .enlaces ul.columna2 li.item5:before {
        background-color: #ffc108; }
      .menu_inferior .enlaces ul.columna2 li.item6:before {
        background-color: #009687; }
      .menu_inferior .enlaces ul.columna3 li.item1:before {
        background-color: #4caf4f; }
      .menu_inferior .enlaces ul.columna3 li.item2:before {
        background-color: #8bc44a; }
      .menu_inferior .enlaces ul.columna3 li.item3:before {
        background-color: #b52c57; }
      .menu_inferior .enlaces ul.columna3 li.item4:before {
        background-color: #806751; }
      .menu_inferior .enlaces ul.columna3 li.item5:before {
        background-color: #20427f; }
      .menu_inferior .enlaces ul.columna3 li.item6:before {
        background-color: #01bcd5; }

footer.footer {
  background: #012B47; }

.post-footer {
  background: #012B47;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px; }

.footer {
  padding-bottom: 10px !important; }

/**
 * Content Types
 */
.node-type-article .field-type-image img {
  margin: auto; }

.not-front .field-name-noticias a {
  color: #3498db;
  text-transform: uppercase;
  font-size: 20px; }

.not-front.node-type-article .field-name-field-tags .field-item {
  margin: 7px; }
  .not-front.node-type-article .field-name-field-tags .field-item a {
    color: #7f8c8d;
    font-size: 12px;
    text-transform: capitalize; }

.page-noticias .views-field-title {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important; }
  .page-noticias .views-field-title a {
    color: #3498db; }

.page-noticias .views-field-body {
  height: 162px; }

.page-taxonomy-term-7 .node-teaser.view-mode-teaser {
  padding: 10px 0;
  border-top: 1px solid #c1c2c3; }

.page-taxonomy-term-7 .field-name-title h3 {
  margin-top: 0;
  font-size: 15px; }

.front #block-views-eiti-block-1 .views-field-body {
  height: 160px; }

/**
 * Views
 */
.view-id-documentos #views-bootstrap-grid-1 .views-field-title a {
  font-size: 12px !important;
  font-weight: bold; }

#views-bootstrap-grid-1 .views-field-view-node {
  margin-top: 2%;
  float: right; }
  #views-bootstrap-grid-1 .views-field-view-node .field-content {
    padding: 7px;
    border: solid 1px #e1e1e1; }
    #views-bootstrap-grid-1 .views-field-view-node .field-content a {
      color: #939393 !important; }
    #views-bootstrap-grid-1 .views-field-view-node .field-content span {
      color: #68bde7 !important; }

#views-bootstrap-media-1 a {
  font-size: 14px; }

#views-bootstrap-media-1 .media-body {
  color: #6c6d70; }

.view-documentos .view-content .media-heading a {
  color: #000 !important; }

.view-id-documentos.col-md-8 {
  margin-top: 20px; }

.view-nodequeue-1 ul {
  padding-bottom: 22px;
  padding-left: 0; }

.view-header.col-md-12, .view-header.col-md-4 p {
  font-size: 12px;
  color: #7f8c8d; }

.view-documentos h2 {
  color: #7f8c8d;
  text-transform: uppercase; }

#views-bootstrap-grid-1 .col-lg-6:nth-child(1) .views-field.views-field-view-node {
  display: none; }

.view-display-id-page_3 #views-bootstrap-media-1 a {
  color: #000; }

.view-documentos .view-header p:nth-child(1) {
  float: left;
  margin-bottom: 0; }
  .view-documentos .view-header p:nth-child(1) img {
    float: left;
    margin-bottom: 0; }

.view-documentos .view-header h3 {
  margin-top: 10px;
  font-size: 12px !important;
  font-weight: bold;
  color: #3498db; }

.view-id-documentos.view-display-id-page_1 #views-bootstrap-media-1 a {
  color: #7f8c8d; }

.view-id-documentos.view-display-id-page_1 #views-bootstrap-media-1 a.btn.action {
  margin-left: 5.8%; }

#quicktabs-tabpage-view__documentos__page-0 {
  display: none; }

/**
 * Miscellaneous
 */
.field-name-field-recursos .field-label {
  font-size: 25px; }

.art-layout-cell h2 {
  width: 30%;
  float: left; }

.art-layout-cell hr {
  width: 70%;
  float: left;
  margin-top: 5%; }

.art-layout-cell .nav.nav-tabs {
  width: 100%;
  float: left;
  border: none; }
  .art-layout-cell .nav.nav-tabs li {
    border: 1px solid #e1e1e1; }
    .art-layout-cell .nav.nav-tabs li.active {
      background: #fcfcfc;
      border-radius: 0;
      border-bottom: none; }
    .art-layout-cell .nav.nav-tabs li a {
      color: #666666;
      background: #fcfcfc;
      border: none; }

.art-layout-cell .tab-content .tab-pane.active .art-content-layout .art-content-layout-row:nth-child(2) {
  background: #fcfcfc;
  border: 1px solid #e1e1e1; }

.widget-container p, #views-bootstrap-media-1 a, #block-block-6 .list-unstyled li, #block-block-7 .list-unstyled li {
  color: #fff; }

.list-unstyled p {
  color: #fff; }

.navbar-toggle {
  background-color: buttonface !important; }
  .navbar-toggle .icon-bar {
    background: #000 !important; }

ul.social-media-links.platforms.inline.horizontal {
  float: right; }

#quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle {
  padding: 0; }
  #quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle li {
    border: 1px solid #f5f5f5; }
    #quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle li.active a.active {
      background-color: #3498db !important;
      color: #fff; }
    #quicktabs-view__documentos__page .quicktabs-tabs.quicktabs-style-nostyle li a {
      font-size: 12px;
      color: #7f8c8d; }

.nav-tabs {
  border-bottom: 1px solid #ddd; }

.right {
  float: right;
  padding: 0; }

.media-body ol li {
  list-style: none; }

/*Media querys*/
@media (max-width: 990px) {
  .menu_inferior .enlaces {
    flex-direction: column; } }

@media (max-width: 991px) {
  .right {
    margin-left: 12px; } }

.node-type-galeria .field-name-field-imagenes .field-items {
  display: flex;
  flex-wrap: wrap; }
  .node-type-galeria .field-name-field-imagenes .field-items .field-item {
    width: 32%;
    margin: 5px; }


    .img-thumbnail-interes {
      display: inline-block;
      max-width: 100%;
      height: auto;
      padding: 17px;
      margin-top: 10px;
      line-height: 1.42857143;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
  }



  /* The only bit you need */
.highcontrast {
  background-color: gray;
  color: white;

}
.highcontrast   a, a:visited {
  color: white;
}


.img-thumbnail1 {
    display: inline-block;
    max-width: 100%;
    height: 24px;
    padding: 2px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}


@media (max-width: 767px) {
  #block-superfish-1 {
    float: right; }
}

@media (min-width: 768px) {
  #block-superfish-1 {
   margin-top: 40px;
    float: right; }
}


.tablasResponsive {

  overflow-x:auto;
}



/* ESTILOS EY INFORME 2017*/



.navbarbi {
  overflow: hidden;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.navbarbi .amenu {
  float: left;
  font-size: 16px;
  color: rgba(0,123,182,1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dp {
  float: left;
  overflow: hidden;

}

.dp .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  border-radius: 4px;
  color:rgba(0,123,182,1);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 2px;
}

.navbarbi .amenu:hover, .dp:hover .dropbtn {
  background-color: rgba(52,152,219,1);
  color: white;
}

.dp-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;

  min-width: 160px;
  border-radius: 4px;
  box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dp-content .amenu {
  float: none;
  color: rgba(0,123,182,1);
  margin: 10px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dp-content .amenu:hover {
  background-color:  rgba(52,152,219,1);
  border-radius: 4px;
}

.around{
border-radius: 4px;
}

.dp:hover .dp-content {
  display: block;
}

.activeopt{
background-color: rgba(0,123,182,1) !important;
color: white !important;
}











/* ESTILOS EY INFORME 2017*/

.eiti-container {
  color: #666;
  font-family: 'open_sansregular', sans-serif;
  font-size: 16px;
}

.eiti-container p {
  font-family: 'open_sansregular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 30px;
}

.eiti-container h1,
.eiti-container h2,
.eiti-container h3,
.eiti-container h4,
.eiti-container h5,
.eiti-container h6 {
  font-family: 'open_sansregular', sans-serif;
}

.eiti-container h2 {
  border-bottom: 1px solid #00AFD7;
  color: #0091cd;
  font-family: 'open_sansbold', sans-serif !important;
  font-size: 2em;
  font-weight: bold !important;
  line-height: 1.5;
  margin: 15px 0;
  text-align: left;
}

.eiti-container h3 {
  color: #0091cd;
  font-family: 'open_sanslight', sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  padding: 15px 0;
  text-align: left;
}

.eiti-container h4 {
  background: #35b0b1;
  color: #fff;
  font-family: 'open_sanslight', sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  padding: .5em;
  text-align: center;
}

.eiti-container h5 {
  color: #0090cc;
  font-family: 'open_sanssemibold', sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
}

.eiti-container h5 a {
  color: #0090cc;
}

.eiti-container ol {
  list-style: lower-latin;
}

.eiti-container li{
  font-family: 'open_sansregular', sans-serif;
}

.eiti-container p.small {
  font-size: small;
  line-height: 1.2;
}

.eiti-container span {
  font-family: 'open_sansbold', sans-serif;
  font-weight: bold;
}

.eiti-container strong {
  font-family: 'open_sansbold', sans-serif;
  color: #00AFD7;
  font-weight: bold;
}

.eiti-container b {
  font-family: 'open_sansbold', sans-serif;
  font-weight: bold;
}

.eiti-logos {
  border-bottom: 1px solid #00AFD7;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.eiti-texts {
  display: inline-block;
  padding-bottom: 30px;
}

.eiti-container table {
  border-collapse: collapse;
  font-size: 0.75em;
  margin: 30px 0;
  width: 100%;
}

.eiti-container th {
  background: #00AFD7;
  color: white;
  font-family: 'open_sansbold', sans-serif;
  text-align: center !important;
}

.eiti-container tr {
    vertical-align: top;
}

.eiti-container tr:nth-of-type(odd) {
  background: #ebf9fc;
}

.eiti-container th, td {
  border: 1px solid #eee;
  padding: 10px;
  text-align: left;
}

.eiti-container tfoot td {
    background: #00AFD7;
    color: #fff;
}

.eiti-container .numeral{
  list-style: decimal;
}

.eiti-container blockquote {
  background: #eee;
  border: none;
  font-size: 1em;
  margin: 30px;
  padding: 30px;
}

.eiti-container img {
  vertical-align: middle;
  width: 100%;
  margin-bottom: 15px;
}

/* ============================== Featured ============================== */
.eiti-featured {
  position :relative;
  width: 100%;
}

.eiti-featured p {
  color: #fff;
  font-size: small;
  margin: 1em;
  text-align: center;
}

.eiti-hexagon-1 {
  background-color: #0091cd;
  height: 173.21px;
  margin: 86.60px 0;
  position: relative;
  width: 300px;
}

.eiti-hexagon-1:before,
.eiti-hexagon-1:after {
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  content: "";
  position: absolute;
  width: 0;
}

.eiti-hexagon-1:before {
  border-bottom: 86.60px solid #0091cd;
  bottom: 100%;
}

.eiti-hexagon-1:after {
  border-top: 86.60px solid #0091cd;
  top: 100%;
  width: 0;
}

.eiti-hexagon-2 {
  background-color: #4BB9B4;
  height: 103.92px;
  left: 0;
  margin: 51.96px 0;
  opacity: .75;
  position: absolute;
  top: 13em;
  transition:all .3s ease;
  width: 180px;
}

.eiti-hexagon-2:before,
.eiti-hexagon-2:after {
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  content: "";
  position: absolute;
  width: 0;
}

.eiti-hexagon-2:before {
  border-bottom: 51.96px solid #4BB9B4;
  bottom: 100%;
}

.eiti-hexagon-2:after {
  border-top: 51.96px solid #4BB9B4;
  top: 100%;
  width: 0;
}

.eiti-hexagon-3 {
  background-color: #e0ffa4;
  height: 46.19px;
  left: -3em;
  margin: 23.09px 0;
  opacity: .75;
  position: absolute;
  top: 13em;
  transition: all .3s ease;
  width: 80px;
}

.eiti-hexagon-3:before,
.eiti-hexagon-3:after {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  content: "";
  position: absolute;
  width: 0;
}

.eiti-hexagon-3:before {
  border-bottom: 23.09px solid #e0ffa4;
  bottom: 100%;
}

.eiti-hexagon-3:after {
  border-top: 23.09px solid #e0ffa4;
  top: 100%;
  width: 0;
}
.eiti-hexp:hover .eiti-hexagon-1{left:5px}
.eiti-hexp:hover .eiti-hexagon-2{top: 248px;left: 121px;}
.eiti-hexp:hover .eiti-hexagon-3{top :268px;left:33px;}


/* ============================== Table Infographics ============================== */

table.eiti-infographic {
  border-collapse: collapse;
  margin: 0;
  text-align: center;
  width: 100%;
}

table.eiti-infographic td,
table.eiti-infographic th {
  border: 1px solid #FFFFFF;
  padding: 5px;
}

table.eiti-infographic tbody td {
  font-size: 14px;
}

table.eiti-infographic td:nth-child(even) {
  background: #fff;
}

table.eiti-infographic thead th:first-child {
  border-left: none;
}

table.eiti-infographic tr:nth-of-type(odd) {
  background: #fff;
}

/* ============================== Table Enterprises ============================== */

.eiti-green {
  background-color: #B9D15E;
  border: 1px solid #fff;
}

.eiti-yellow {
  background-color: #FFE117;
  border: 1px solid #fff;
}

.eiti-btn-primary {
  background-color: #B9D15E;
  border-color: #fff;
  border-radius: 0;
  margin: 15px 0;
}

.eiti-btn-secondary {
  background-color: #FFE117;
  border-color: #fff;
  border-radius: 0;
  margin: 15px 0;
}

/* ============================== Table with 2 equal-width columns ============================== */

.eiti-table-cols-2 {
  table-layout: fixed;
  width: 100%;
}

.eiti-table-cols-2 td {
  word-wrap: break-word;
  width: 50%;
}

/* ============================== Table with 3 equal-width columns ============================== */

.eiti-table-cols-3 {
  table-layout: fixed;
  width: 100%;
}

.eiti-table-cols-3 td {
  word-wrap: break-word;
  width: 33.33%;
}

/* ============================== Table with 4 equal-width columns ============================== */

.eiti-table-cols-4 {
  table-layout: fixed;
  width: 100%;
}

.eiti-table-cols-4 td {
  word-wrap: break-word;
  width: 25%;
}

/* ============================== Table with 8 equal-width columns ============================== */

.eiti-table-cols-8 {
  table-layout: fixed;
  width: 100%;
}

.eiti-table-cols-8 td {
  word-wrap: break-word;
  width: 12.5%;
}

/* ============================== Slider Before/After ============================== */

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  background: white;
  content: " ";
  display: block;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  left: 50%;
  height: 9999px;
  margin-left: -1.5px;
  width: 3px;
}

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  height: 3px;
  margin-top: -1.5px;
  top: 50%;
  width: 9999px;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
}

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em; }

  .twentytwenty-before-label:before, .twentytwenty-after-label:before {
    background: rgba(255, 255, 255, 0.2);
    line-height: 38px;
    padding: 0 20px;
    position: absolute;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
    margin-top: -19px;
    top: 50%;
  }

  .twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
    left: 50%;
    margin-left: -45px;
    text-align: center;
    width: 90px;
  }

  .twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
    border: 6px inset transparent;
    height: 0;
    position: absolute;
    width: 0;
  }

  .twentytwenty-left-arrow, .twentytwenty-right-arrow {
    margin-top: -6px;
    top: 50%;
  }

  .twentytwenty-up-arrow, .twentytwenty-down-arrow {
    left: 50%;
    margin-left: -6px;
  }

  .twentytwenty-container {
    overflow: hidden;
    z-index: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .twentytwenty-container img {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
  }

  .twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
    background: rgba(0, 0, 0, 0);
  }

  .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
  .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
  .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
    opacity: 0;
  }

  .twentytwenty-container * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .twentytwenty-before-label {
    opacity: 0;
  }

  .twentytwenty-before-label:before {
    content: attr(data-content);
  }

  .twentytwenty-after-label {
    opacity: 0;
  }

  .twentytwenty-after-label:before {
    content: attr(data-content);
  }

  .twentytwenty-horizontal .twentytwenty-before-label:before {
    left: 10px;
  }

  .twentytwenty-horizontal .twentytwenty-after-label:before {
    right: 10px;
  }

  .twentytwenty-vertical .twentytwenty-before-label:before {
    top: 10px;
  }

  .twentytwenty-vertical .twentytwenty-after-label:before {
    bottom: 10px;
  }

  .twentytwenty-overlay {
    -webkit-transition-property: background;
    -moz-transition-property: background;
    transition-property: background;
    background: rgba(0, 0, 0, 0);
    z-index: 25;
  }

  .twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  .twentytwenty-overlay:hover .twentytwenty-after-label {
    opacity: 1;
  }

  .twentytwenty-overlay:hover .twentytwenty-before-label {
    opacity: 1;
  }

  .twentytwenty-before {
    z-index: 20;
  }

  .twentytwenty-after {
    z-index: 10;
  }

  .twentytwenty-handle {
    border: 3px solid white;
    cursor: pointer;
    height: 38px;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
    position: absolute;
    top: 50%;
    width: 38px;
    z-index: 40;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  }

  .twentytwenty-horizontal .twentytwenty-handle:before {
    bottom: 50%;
    margin-bottom: 22px;
    -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  }

  .twentytwenty-horizontal .twentytwenty-handle:after {
    top: 50%;
    margin-top: 22px;
    -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  }

  .twentytwenty-vertical .twentytwenty-handle:before {
    left: 50%;
    margin-left: 22px;
    -webkit-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  }

  .twentytwenty-vertical .twentytwenty-handle:after {
    margin-right: 22px;
    right: 50%;
    -webkit-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  }

  .twentytwenty-left-arrow {
    border-right: 6px solid white;
    left: 50%;
    margin-left: -17px;
  }

  .twentytwenty-right-arrow {
    border-left: 6px solid white;
    right: 50%;
    margin-right: -17px;
  }

  .twentytwenty-up-arrow {
    border-bottom: 6px solid white;
    top: 50%;
    margin-top: -17px;
  }

  .twentytwenty-down-arrow {
    border-top: 6px solid white;
    bottom: 50%;
    margin-bottom: -17px;
  }

  /* ============================== Timeline ============================== */

  .body-wrap {
    background-color: #fff;
    min-height: 500px;
    margin: 0 auto;
    font-size: 12px;
  }

  .pres-timeline {
    font-family: 'open_sansregular', sans-serif;
    font-size: 12px;
    color: #666;
    width: 100%;
    margin: 30px 0;
  }
  .pres-timeline > div > div {
    padding: 1em 0;
    box-sizing: border-box;
  }
  .pres-timeline .periods-container, .pres-timeline .cards-container {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    min-height: 100px;
    transition: height 0.5s ease-in-out;
    background-color: #FFF;
  }

  .periods-container:before {
    background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
    left: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }
  .periods-container:after {
    background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
    right: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }
  .periods-container .btn-back, .periods-container .btn-next {
    display: inline-block;
    width: 15%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s ease-in-out;
  }
  .periods-container .btn-back:hover, .periods-container .btn-next:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .periods-container .btn-back.hide, .periods-container .btn-next.hide {
    display: none;
  }
  .periods-container .btn-back {
    left: 0;
  }
  .periods-container .btn-next {
    right: 0;
  }
  .periods-container section {
    width: 70%;
    height: 0;
    position: absolute;
    margin-left: 15%;
    border-bottom: 5px solid #dfe3e6;
    padding: 1.5em;
    box-sizing: border-box;
    transition: opacity 0.2s ease, height 0.3s ease, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease, height 0.3s ease;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease, height 0.3s ease, -webkit-transform 0.3s ease-in-out;
    bottom: 0;
    opacity: 0;
    background-color: #fff;
  }
  .periods-container section.active {
    height: auto;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    z-index: 5;
  }
  .periods-container section.active .title, .periods-container section.active p {
    display: block;
  }
  .periods-container section.prev {
    height: auto;
    opacity: 0.4;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 0;
  }
  .periods-container section.prev .year {
    text-align: right;
  }
  .periods-container section.next {
    height: auto;
    opacity: 0.4;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 0;
  }
  .periods-container section .year {
    font-size: 3em;
    font-weight: 900;
    padding: 15px 0;
  }
  .periods-container section .title {
    color: #4A4A4A;
    font-size: 3em;
    font-weight: 900;
    display: none;
  }
  .periods-container section p {
    display: none;
  }

  .timeline-container {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
  }

  .timeline-container:before {
    background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
    left: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }

  .timeline-container:after {
    background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
    right: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }

  .timeline-container .timeline {
    position: absolute;
    display: block;
    height: 50px;
    transition: left 0.3s ease-in-out;
  }

  .timeline-container .timeline ol {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #dfe3e6;
    list-style: none;
    padding-left: 210px;
    padding-right: 300px;
  }

  .timeline-container .timeline ol li {
    display: inline-block;
    padding: 5px;
    margin-top: -11px;
    margin-left: 80px;
    border-radius: 50%;
    border: 3px solid #7f9298;
    background-color: #FFF;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .timeline-container .timeline ol li.active {
    box-shadow: none;
  }
  .timeline-container .timeline ol li.active:before {
    content: "";
    display: block;
    height: 25px;
    width: 1px;
    position: absolute;
    top: -25px;
    transition: opacity 0.3s ease-in-out;
  }

  .timeline-container .timeline ol li.active:after {
    content: "";
    display: block;
    height: 25px;
    width: 1px;
    position: absolute;
    bottom: -25px;
    transition: opacity 0.3s ease-in-out;
  }

  .timeline-container .btn-back, .timeline-container .btn-next {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin-top: -2px;
    z-index: 11;
    transition: all 0.3s ease;
  }

  .timeline-container .btn-back.hide, .timeline-container .btn-next.hide {
    display: none;
  }
  .timeline-container .btn-back:hover, .timeline-container .btn-next:hover {
    border-color: #7f9298;
  }
  .timeline-container .btn-back {
    left: 1em;
  }
  .timeline-container .btn-next {
    right: 1em;
  }

  .cards-container:before {
    background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
    left: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }

  .cards-container:after {
    background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
    right: 0;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
  }

  .cards-container section {
    width: 70%;
    position: absolute;
    margin-left: 15%;
    margin-bottom: 2em;
    border: 1px solid #f5f7f6;
    padding: 1.5em;
    box-sizing: border-box;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    top: 0;
    opacity: 0;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  }

  .cards-container section.active {
    height: auto;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    z-index: 5;
  }

  .cards-container section.prev {
    height: auto;
    opacity: 0.4;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    z-index: 0;
  }

  .cards-container section.next {
    height: auto;
    opacity: 0.4;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    z-index: 0;
  }

  .cards-container section .year {
    text-align: center;
    font-size: 2em;
    margin: 0;
  }

  .cards-container section .title {
    font-weight: 400;
  }

  .cards-container section img {
    width: 100%;
  }

  h5.year {
    padding: 15px 0;
  }

  /* ============================== Fonts ============================== */

  @font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light.woff2') format('woff2'),
    url('../fonts/opensans-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.woff2') format('woff2'),
    url('../fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold.woff2') format('woff2'),
    url('../fonts/opensans-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.woff2') format('woff2'),
    url('../fonts/opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold.woff2') format('woff2'),
    url('../fonts/opensans-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic.woff2') format('woff2'),
    url('../fonts/opensans-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic.woff2') format('woff2'),
    url('../fonts/opensans-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic.woff2') format('woff2'),
    url('opensans-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/opensans-extrabolditalic.woff2') format('woff2'),
    url('../fonts/opensans-extrabolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  /* ============================== Inicio ============================== */

  .eiti-container .eiti-top{
    float: left;
    margin: 30px 0 15px 0;
  }

  .eiti-container .social ul {
    display: inline-flex;
  }

  .eiti-container .social li{
    list-style: none;
    margin: 5px;
  }

  .eiti-container .eiti-nav {
    background: #0091cd;
    border-radius: 0;
    float: left;
    margin-bottom: 15px;
    width: 100%;
  }

  .eiti-container li.nav-item {
    float: left;
    list-style: none;
  }

  .eiti-container li.nav-item a {
    color: #fff;
    line-height: 2;
    padding-right: 15px;
    text-transform: uppercase;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .eiti-container .informe {
    background: #0091cd;
    float: left;
    width: 100%;
  }

  .eiti-container .generalidades{
    background: #4bb8b4;
    margin: 0 -15px;
  }

  .eiti-container button {
    background-color: none;
    border: 1px solid #0090cc;
    border-radius: 0;
    color: #fff;
    font-size: 1em;
    font-weight: lighter;
    margin: 15px;
    padding: 5px 15px;
  }

  .eiti-container .center-block {
    background: #0091cd;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 15px;
  }

  .eiti-container #cadena{
    padding: 30px  0 0 0;
  }

  .arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #0091cd;
    border-right: 2px solid #0091cd;
    margin: 5% 0;
    float: left;
  }

  .arrow-right {
    transform: rotate(45deg);
  }

  .eiti-bottom {
    border-top: 1px solid #0091cd;
    padding-top: 30px; 
  }

  .eiti-container .lateral li{
    border-bottom: 1px solid #666;
    list-style: none;
    padding: 10px 0;
  }

  .eiti-container .lateral li a{
    color: #0091cd;
  }



  /* ============================== flexbox ============================== */

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
  }

  @media (min-width: 768px){
    .form-inline .form-control {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
    }
  }


  .navbar {
    position: relative;
    min-height: auto;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-nav { 
    display: flex;
    justify-content: space-around;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #666;
    font-family: 'open_sansbold';
}

nav.navbar.navbar-default.primary {
    background: #0090cc;
    border: none;
    border-radius: 0;
}

.navbar-default.primary .navbar-nav li a{
    color: #fff;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    border-right: 3px solid;
    margin: 5px;
    padding: 5px 15px 5px 5px;
}

.navbar-default.primary .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #0093cb;
    background-color: #99DFEF;
}

.navbar-default.primary .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #99DFEF;
    color: #0090cc;
    font-family: 'open_sansregular';
    font-size: .75em;
}

nav.navbar.navbar-default.secondary {
    background: #99DFEF;
    border: none;
    border-radius: 0;
}

.navbar-default.secondary .navbar-nav li a{
    color: #0090cc;
    font-family: 'open_sansregular';
}

.navbar-default.secondary .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #0093cb;
    background-color: #99DFEF;
}

.navbar-default.secondary .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #99DFEF;
    color: #0090cc;
    font-family: 'open_sansregular';
    font-size: .75em;
}

.navbar-default.secondary .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default.secondary .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #0090cc;
    background-color: transparent;
}

.dropdown-submenu{ position: relative; }
.dropdown-submenu>.dropdown-menu{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu>a:after{
  display:inline-flex;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#fff;
  margin-top:5px;margin-right:-10px;
}

.dropdown-submenu:hover>a:after{
  border-left-color:#555;
}

.dropdown-submenu.pull-left{ float: none; }
.dropdown-submenu.pull-left>.dropdown-menu{
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1em;
    text-align: left;
    list-style: none;
    /*background-color: #fff;*/
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

@media only screen and (max-width: 768px){
.navbar-nav {
    float: none;
    margin: 0;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}
}

@media (max-width: 767px){
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
}
}

/* ============================== Fonts ============================== */

  @font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light.woff2') format('woff2'),
    url('../fonts/opensans-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.woff2') format('woff2'),
    url('../fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold.woff2') format('woff2'),
    url('../fonts/opensans-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.woff2') format('woff2'),
    url('../fonts/opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold.woff2') format('woff2'),
    url('../fonts/opensans-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }






  /*  ESTILOS PARA MENUS INFORME 2017 */

  body {
    /*background: #ddd;*/
    }
    #menu ul {
    margin: 0;
    padding: 0;
    }
    #menu .main-menu {
    display: none;
    }
    #tm:checked+.main-menu {
    display: block;
    }
    #menu input[type="checkbox"],
    #menu ul span.drop-icon {
    display: none;
    }
    #menu li,
    #toggle-menu,
    #menu .sub-menu {
    border-style: solid;
    border-color: rgba(0, 0, 0, .05);
    }
    #menu li,
    #toggle-menu {
    border-width: 0 0 1px;
    }
    #menu .sub-menu {
    background-color: #444;
    border-width: 1px 1px 0;
    margin: 0 1em;
    }
    #menu .sub-menu li:last-child {
    border-width: 0;
    }
    #menu li,
    #toggle-menu,
    #menu a {
    position: relative;
    display: block;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
    }
    #menu {
    background-color: #0091cd;
    }
    #toggle-menu {
    background: #0091cd;
    }
    #toggle-menu,
    #menu a {
    padding: 1em 1.5em;
    }
    #menu a {
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
    }
    #menu a:hover {
    background-color: white;
    color: #09c;
    }
    #menu .sub-menu {
    display: none;
    }
    #menu input[type="checkbox"]:checked+.sub-menu {
    display: block;
    }
    #menu .sub-menu a:hover {
    color: #444;
    }
    #toggle-menu .drop-icon,
    #menu li label.drop-icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    #menu label.drop-icon,
    #toggle-menu span.drop-icon {
    padding: 1em;
    font-size: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, .125);
    text-shadow: 0 0 0 transparent;
    color: rgba(255, 255, 255, 1);
    }
    @media only screen and (min-width: 1024px) {
    #menu .main-menu {
    display: block;
    }
    #toggle-menu,
    #menu label.drop-icon {
    display: none;
    }
    #menu ul span.drop-icon {
    display: inline-block;
    padding-left: 10px;
    }
    #menu li {
    float: left;
    border-width: 0 1px 0 0;
    }
    #menu .sub-menu li {
    float: none;
    }
    #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
    }
    #menu .sub-menu,
    #menu input[type="checkbox"]:checked+.sub-menu {
    display: none;
    }
    #menu .sub-menu li {
    border-width: 0 0 1px;
    }
    #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
    }
    #menu .sub-menu .drop-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    }
    #menu li:hover>input[type="checkbox"]+.sub-menu {
    display: block;
    }
    }








    /* Principales para el Menu Informe 2017 */

/**
 * RESET
 * Reference: http://meyerweb.com/eric/tools/css/reset/
 */

 
 a {
   text-decoration: none !important;
 }
 

 
 /**
  * BOX HACKING
  */
 
 html {
   box-sizing: border-box;
 }
 
 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }
 
 /**
  * CLEAR FLOATS
  * Reference: http://w3bits.com/clearfix
  */
 
 .cf:after,
 .lab-grid:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /**
  * CONTENT WRAPPER
  */
 
 .wrapper {
   margin-left: auto;
   margin-right: auto;
   padding-top: 1.5em;
   padding-right: 1.5em;
   padding-left: 1.5em;
   max-width: 1080px;
 }
 
 /**
 * ICON SYSTEM
 */
 
 .icon {
   height: 1em;
   width: 1em;
   display: inline-block;
   vertical-align: middle;
   fill: currentColor;
 }
 
 /**
  * BUTTONS
  */
 
 .buttons {
   margin: 1.5em 0;
 }
 
 .button {
   padding: 1em 1.5em;
   color: rgba(255, 255, 255, 0.75);
   border-radius: 3px;
 }
 
 .button:hover {
   color: rgba(255, 255, 255, 0.9);
 }
 
 .green-sea {
   background: #16a085;
 }
 
 .button.green-sea:hover {
   background: #1abc9c;
 }
 
 .belize-hole {
   background: #2980b9;
 }
 
 .button.belize-hole:hover {
   background: #3498db;
 }
 
 .pomegranate {
   background: #c0392b;
 }
 
 .button.pomegranate:hover {
   background: #e74c3c;
 }
 
 /**
  * Carbon
  */
 #carbonads {
   font-family: inherit;
   position: relative;
   display: block;
   overflow: hidden;
   box-sizing: border-box;
   margin: 0 auto 1.5em;
   max-width: 728px;
   font-size: 22px;
   color: inherit;
 }
 
 #carbonads a {
   text-decoration: none;
   color: inherit;
 }
 
 #carbonads a:hover {
   color: inherit;
 }
 
 .carbon-wrap {
   display: flex;
   align-items: center;
 }
 
 .carbon-img {
   display: block;
   float: left;
   margin: 0;
   line-height: 1;
 }
 
 .carbon-img img {
   display: block;
   width: auto;
   height: 90px;
 }
 
 .carbon-text {
   display: block;
   float: left;
   padding: 0 1em;
   max-width: calc(100% - 130px - 2em);
   text-align: left;
   line-height: 1.35;
 }
 
 .carbon-poweredby {
   position: absolute;
   right: 0;
   bottom: 0;
   display: block;
   padding: 6px 10px;
   border-top-left-radius: 4px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: .5px;
   font-weight: 600;
   font-size: 8px;
   line-height: 1;
 }
 
 /**
  * HYPERLINKS & NAVIGATION
  */
 
 .lab-nav {
   width: 100%;
 }
 
 .lab-nav--fixed {
   position: fixed;
 }
 
 .lab-nav--top {
   top: 0;
 }
 
 .lab-nav--bottom {
   bottom: 0;
 }
 
 .lab-nav,
 .lab-follow {
   font-size: 13px;
   line-height: 1;
 }
 
 .lab-theme-light body {
   color: rgba(0, 0, 0, .75);
 }
 
 .lab-theme-light .lab-nav,
 .lab-theme-light .lab-follow {
   background: rgba(0, 0, 0, 0.05);
 }
 
 .lab-theme-light .lab-nav,
 .lab-theme-light .lab-follow,
 .lab-theme-light .lab-nav a {
   color: rgba(0, 0, 0, 0.35);
 }
 
 .lab-theme-light .lab-nav a:hover,
 .lab-theme-light .lab-nav a:active,
 .lab-theme-light .lab-nav a:focus,
 .lab-theme-light .lab-follow:hover,
 .lab-theme-light .lab-follow:active,
 .lab-theme-light .lab-follow:focus {
   background: rgba(0, 0, 0, 0.1);
   color: rgba(0, 0, 0, 0.5);
 }
 
 .lab-theme-light #carbonads {
   border-color: rgba(0, 0, 0, 0.05);
   background: rgba(0, 0, 0, 0.05);
 }
 
 .lab-theme-light #carbonads:hover,
 .lab-theme-light #carbonads:active,
 .lab-theme-light #carbonads:focus {
   border-color: rgba(0, 0, 0, 0.1);
   background: rgba(0, 0, 0, 0.1);
 }
 
 .lab-theme-light .carbon-poweredby {
   background: repeating-linear-gradient(-45deg,
     transparent,
     transparent 5px,
     rgba(0, 0, 0, 0.05) 5px,
     rgba(0, 0, 0, 0.025) 10px) rgba(0, 0, 0, 0.05);
   color: rgba(0, 0, 0, .5);
 }
 
 .lab-theme-light .lab-article-button {
   color: rgba(0, 0, 0, .25);
   border: 3px solid rgba(0, 0, 0, .1);
 }
 
 .lab-theme-light .lab-article-button:hover,
 .lab-theme-light .lab-article-button:active,
 .lab-theme-light .lab-article-button:focus {
   color: rgba(0, 0, 0, .3);
   border-color: rgba(0, 0, 0, .15);
 }
 
 .lab-theme-dark body {
   color: rgba(255, 255, 255, .75);
 }
 
 .lab-theme-dark .lab-nav,
 .lab-theme-dark .lab-follow {
   background: rgba(255, 255, 255, 0.05);
 }
 
 .lab-theme-dark .lab-nav,
 .lab-theme-dark .lab-nav a,
 .lab-theme-dark .lab-follow {
   color: rgba(255, 255, 255, 0.35);
 }
 
 .lab-theme-dark .lab-nav a:hover,
 .lab-theme-dark .lab-nav a:active,
 .lab-theme-dark .lab-nav a:focus,
 .lab-theme-dark .lab-follow:hover,
 .lab-theme-dark .lab-follow:active,
 .lab-theme-dark .lab-follow:focus {
   background: rgba(255, 255, 255, 0.1);
   color: rgba(255, 255, 255, 0.5);
 }
 
 .lab-theme-dark #carbonads {
   border-color: rgba(255, 255, 255, 0.05);
   background: rgba(255, 255, 255, 0.05);
 }
 
 .lab-theme-dark #carbonads:hover,
 .lab-theme-dark #carbonads:active,
 .lab-theme-dark #carbonads:focus {
   border-color: rgba(255, 255, 255, 0.1);
   background: rgba(255, 255, 255, 0.1);
 }
 
 .lab-theme-dark .carbon-poweredby {
   background: repeating-linear-gradient(-45deg,
     transparent,
     transparent 5px,
     rgba(255, 255, 255, 0.05) 5px,
     rgba(255, 255, 255, 0.025) 10px) rgba(255, 255, 255, 0.05);
   color: rgba(255, 255, 255, .5);
 }
 
 .lab-theme-dark .lab-article-button {
   color: rgba(255, 255, 255, .25);
   border: 3px solid rgba(255, 255, 255, .1);
 }
 
 .lab-theme-dark .lab-article-button:hover,
 .lab-theme-dark .lab-article-button:active,
 .lab-theme-dark .lab-article-button:focus {
   color: rgba(255, 255, 255, .3);
   border-color: rgba(255, 255, 255, .15);
 }
 
 .lab-follow,
 .lab-article-link,
 .lab-share a {
   padding: 1.25em .75em;
   display: inline-block;
   vertical-align: bottom;
   text-decoration: none;
 }
 
 .lab-follow,
 .lab-article-link span,
 .lab-share-link span {
   letter-spacing: 1px;
   text-transform: uppercase;
 }
 
 .lab-follow {
   display: none;
 }
 
 .lab-follow .icon {
   vertical-align: top;
 }
 
 .lab-article-link {
   float: left;
 }
 
 .lab-share {
   float: right;
   text-align: right;
 }
 
 .lab-share ul {
   margin: 0;
 }
 
 .lab-share li {
   display: inline;
   margin: 0;
 }
 
 .lab-article-button {
   font-weight: 700;
   display: block;
   margin: 2em 0;
   padding: 1.25em;
   text-align: center;
 }
 
 /**
  * Grid
  */
 .lab-grid {
   width: 100%;
 }
 
 .lab-grid .lab-grid-cell {
   margin-bottom: 1.5em;
 }
 
 .lab-grid .lab-grid-cell--mb-2x {
   margin-bottom: 3em;
 }
 
 .lab-grid-cell {
   padding-left: 0;
 }
 
 .w-full {
   width: 100%;
 }
 
 .w-three-quarters {
   width: 75%;
 }
 
 .w-two-thirds {
   width: 66.66666%;
 }
 
 .w-half {
   width: 50%;
 }
 
 .w-third {
   width: 33.33333%;
 }
 
 .w-quarter {
   width: 25%;
 }
 
 /**
  * Pagination
  */
 
 .labs-pagination {
   display: flex;
   justify-content: center;
 }
 .labs-pagination span,
 .labs-pagination a {
   vertical-align: middle;
   margin: .5em;
 }
 
 .labs-pagination span a {
   padding: .5em 1em;
 }
 
 /**
 * MEDIA SETTINGS
 */
 
 @media only screen and (min-width: 320px) and (max-width: 759px) {
   .carbon-text {
     font-size: 14px;
   }
 }
 
 @media only screen and (min-width: 1024px) {
   h1 {
     font-size: 2em;
   }
   h2 {
     font-size: 1.65em;
   }
   h3 {
     font-size: 1.25em;
   }
   h4 {
     font-size: 1em;
   }
 
   .w-full--d {
     width: 100%;
   }
 
   .w-three-quarters--d {
     width: 75%;
   }
 
   .w-two-thirds--d {
     width: 66.66666%;
   }
 
   .w-half--d {
     width: 50%;
   }
 
   .w-third--d {
     width: 33.33333%;
   }
 
   .w-quarter--d {
     width: 25%;
   }
 }
 
 @media only screen and (max-width: 767px) {
   .lab-article-link span,
   .lab-share span {
     display: none;
   }
 }
 
 @media only screen and (min-width: 1024px) {
   .lab-follow {
     display: inline-block;
     position: fixed;
     right: -34px;
     bottom: 20%;
     transform: rotate(-90deg);
   }
 }
 
 @media only screen and (min-width: 768px) {
   .lab-grid {
     margin-left: -1.5em;
     width: calc( 100% + 1.5em );
   }
 
   .lab-grid-cell {
     float: left;
     padding-left: 1.5em;
   }
 }
 
 @media only screen and (max-width: 1023px) and (min-width: 768px) {
   h1 {
     font-size: 1.75em;
   }
   h2 {
     font-size: 1.45em;
   }
 
   .lab-grid--3 .lab-grid-cell {
     width: 50%;
   }
 
   .w-full--t {
     width: 100%;
   }
 
   .w-three-quarters--t {
     width: 75%;
   }
 
   .w-two-thirds--t {
     width: 66.66666%;
   }
 
   .w-half--t {
     width: 50%;
   }
 
   .w-third--t {
     width: 33.33333%;
   }
 
   .w-quarter--t {
     width: 25%;
   }
 }
 
 @media only screen and (max-width: 767px) {
   .lab-share {
     text-align: right;
   }
 
   .w-full--m {
     width: 100%;
   }
 
   .w-three-quarters--m {
     width: 75%;
   }
 
   .w-two-thirds--m {
     width: 66.66666%;
   }
 
   .w-half--m {
     width: 50%;
   }
 
   .w-third--m {
     width: 33.33333%;
   }
 
   .w-quarter--m {
     width: 25%;
   }
 }




 /**  NUEVOS ESTILOS 2019 NUEVO INFORME **/


 #Noticias {
 /* padding-top: 5px; EVALUAR primero*/
}

#newsContainer {

  font-family: verdana
}

/*.tituloSeccion {
  font-weight: normal;
  font-size: 18px;
  background-color: #3498db;
  color: white;
  text-align: left;
  height: 35px;
  padding: 7px;  esto es para verificar
  display: block;
  margin: 5px;
}*/

.tituloSeccion {
  font-weight: 600;
  font-size: 20pt;
  /* background-color: #3498db; */
  /* color: white; */
  text-align: left;
  height: 35px;
  /* padding: 7px; */
  display: block;
  /* margin: 5px; */
  color: #3498db;
  border-bottom: 1px solid #3498db;
  margin-bottom: 15px;
}


a.OtrasSeccion {
  font-weight: normal;
  font-size: 12px;
  color: white;
  text-align: left;
  display: inline-block;
  padding: 5px;
  background-color: #cb0;
  margin: 5px;
  float: right;
  border-radius: 10%
}

a.OtrasSeccion:hover {
  text-decoration: none
}

a.OtrasSeccion:visited {
  text-decoration: none
}

.SubSeccion {
  width: 315px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin: 20px 15px 20px 5px;
  height: 220px
}

.noticiaImagen {
  width: 303px;
  height: 128px;
  color: white;
  font-style: italic;
  background-size: contain;
  margin: 5px 5px 10px 5px
}

.noticiaFecha {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: -103px;
  color: white;
  font-style: italic;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 5px 0 5px 5px
}

.noticiaTitulo {
  color: #898022;
  margin: 5px 5px 10px 5px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  height: 65px;
  word-wrap: normal;
  word-break: normal
}

.noticiaTitulo:hover {
  color: #898022;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  height: 65px;
  word-wrap: normal;
  word-break: normal
}

.noticiaTituloEnlace {
  color: #898022;
  font-family: verdana
}

.noticiaTituloEnlace:hover {
  font-weight: bold;
  font-family: verdana
}

.noticiaTituloEnlace:link {
  text-decoration: none;
  color: #898022
}

.noticiaTituloEnlace:visited {
  text-decoration: none;
  font-family: verdana;
  color: #67601a
}

#newsContainer {
  display: inline-block
}



.enlace:hover {
  text-decoration: underline;
  color: #004185;
  font-family: verdana
}

.enlace {
  text-decoration: none;
  color: #004185;
  font-family: verdana
}

.noticia {
  width: 326px;
  border-width: 1px;
  border-style: solid;
  border-color: gray
}

.videoFecha {
  width: inherit;
  color: black;
  font-style: italic;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px
}

/*.news {
  font-family: verdana;
  margin: 5px;
  margin-bottom: 10px;
  background: #f6f7f9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px #CCC solid!important
}*/

.news {
  font-family: verdana;
  /* margin: 5px; */
  margin-bottom: 13px;
  margin-bottom: 20px;
  background: #f6f7f9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px #CCC solid!important;
}


.news:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

/**.news p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 20px;
  height: 62px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}**/


.news p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 20px;
  height: 120px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news h4 {
  margin-bottom: auto
}

.news .gallery-item {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 20px;
  height: 42px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

/**.news .date {
  font-size: .8em;
  bottom: 0;
  width: 100%;
  background-color: #3498db;
  margin-bottom: 0;
  padding: 3px;
  color: white;
  height: 2em
}**/


.news .date {
  font-size: .8em;
  bottom: 0;
  width: 100%;
  background-color: #3498db;
  margin-bottom: 0;
  padding: 5px 5px 5px 10px;
  color: white;
  height: 6.5em;
}



@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .news .date {
    font-size: .8em;
    bottom: 0;
    width: 100%;
    background-color: #3498db;
    margin-bottom: 0;
    padding: 5px 5px 5px 10px;
    color: white;
    height: 8em;
  }
}


.news .date {
  font-size: .8em;
  bottom: 0;
  width: 100%;
  background-color: #3498db;
  margin-bottom: 0;
  padding: 5px 5px 5px 10px;
  color: white;
  height: 6.5em;
}


.news a {
  color: #7f8c8d;
}

/**.news .thumbnail {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  border: 0;
  height: 156px;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  background-color: transparent;
  position: relative;
  padding: 0
}**/

.news .thumbnail {
  display: block;
  margin-bottom: 10px;
  line-height: 1.42857143;
  border: 0;
  height: 120px;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  background-color: transparent;
  position: relative;
  padding: 0;
}

.news .thumbnail img {
  width: 100%;
  max-height: 190px
}


/**.news .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 1.3em;
  height: 2.6em; 
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1em;
  text-decoration: none;
  font-weight: normal;
  padding-top: 10px;
}**/


.news .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 1.3em;
  height: 140px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.9em;
  text-decoration: none;
  font-weight: normal;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.news .title:hover {
  color: #167ac6
}

.btn-plus {
  margin-right: 10px;
  float: right;
  color: #cb0
}

.btn-plus:hover,
.btn-plus:focus {
  color: white;
  text-decoration: none
}



/*+ ESTILOS INFORMES POWER BI **/


.embed-responsive-4by3 {
  padding-bottom: 68% !important;
}


.logoBar {
  height: 36px;
  background-color: #eaeaea;
  border-top: 1px solid #c8c8c8;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 200;
  display: none !important;
}


logo-bar {

  display: none !important;
}


.explorationContainer .exploreCanvas .backgroundContainer.outspaceContainer {
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: #fff !important;
}

