/* $Id $ */

a#text_resize_increase {
  display: block;
  float: right;
  width: 28px;
  height: 27px;
  margin: 6px 0 0 0;
  outline: none;
  text-indent: -9000px;
  cursor: pointer;
}
a#text_resize_reset {
  display: block;
  float: right;
  width: 25px;
  height: 24px;
  margin: 9px 0 0 3px;
  outline: none;
  text-indent: -9000px;
  cursor: pointer;
}
a#text_resize_decrease {
  display: block;
  float: right;
  width: 23px;
  height: 21px;
  margin: 12px 0 0 3px;
  outline: none;
  text-indent: -9000px;
  cursor: pointer;
}
#text_resize_clear {
  clear: both;
}