{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}


{% if detail_view %}
    {% if article.id != 20 and article.id != 10 and article.id != 18 and article.id != 91 and article.id != 94 and article.id != 95 and article.id != 146 and article.id != 144 %}
        <img class="img-responsive center-block"
             src="{% thumbnail article.featured_image 773x265 crop subject_location=article.featured_image.subject_location %}"
             alt="{{article.title}}" title="{{article.title}}">
    {% endif %}

    {% if detail_view %}
        <h2 class="ctitle text-center">{% render_model article "title" %}  </h2>
    {% else %}
        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}"><h2
                class="ctitle text-center">{% render_model article "title" %}</h2></a>
    {% endif %}

    <!--p>
    <csmall>Posted: {{ article.publishing_date|date }}</csmall>
    |
    <csmall2>By: {% include "aldryn_newsblog/includes/author.html" with author=article.author %}</csmall2>
</p-->

    {% render_placeholder article.extension.video_placeholder language placeholder_language %}

    {% render_placeholder article.content language placeholder_language %}
{% else %}
    <div class="row">
        <div class="col-sm-2 ">
            {% if article.featured_image_id %}
                <img class="img-responsive center-block"
                     src="{% thumbnail article.featured_image 773x265 crop subject_location=article.featured_image.subject_location %}"
                     alt="{{article.title}}" title="{{ article.title}}">
            {% endif %}
        </div>
        <div class="col-sm-10 ">
            <div class="field field-name-title field-type-ds field-label-hidden">
                <div class="field-items">
                    <div class="" property="dc:title">
                        <a class="field-item even field-name-title"
                           href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
                            <h3>{% render_model article "title" %}</h3></a>

                        {% render_model article "lead_in" %}
                        <!--p>
                                <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">Leer
                                    más</a>
                            </p-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="hline"></div>
    <div class="spacing"></div>
{% endif %}
