{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags %}

{% block newsblog_content %}

    <div class="row">
        <section class="col-sm-12">
            <h1 class="page-header">{% page_attribute "page_title" %}</h1>
            {% placeholder content or %}
                <div class="page-taxonomy-term-7">

                    {% for article in article_list %}
                        <div class="node node-article node-promoted node-teaser view-mode-teaser">
                            {% include "aldryn_newsblog/includes/article.html" %}
                        </div>
                    {% empty %}
                        <p>{% trans "No items available" %}</p>
                    {% endfor %}

                </div>
            {% endplaceholder %}
        </section>
    </div>
    {% include "aldryn_newsblog/includes/pagination.html" %}


{% endblock %}
